Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General/Multi-language hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: '.*\.md$'
      - id: check-yaml
        exclude: '^\.github/.*\.yml$'
      - id: check-json
        exclude: '(tsconfig.*\.json$|\.vscode/.*\.json$)'
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: typescript-check
        name: typescript-check
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
        language: system
        files: '\.(ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

  # Elixir hooks
  - repo: local
    hooks:
      - id: mix-format
        name: mix format
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-credo
        name: mix credo
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo --strict; else echo "Skipping mix credo - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-compile
        name: mix compile
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix compile --warnings-as-errors; else echo "Skipping mix compile - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        files: '\.py$'

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        files: '\.py$'

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        files: '\.py$'
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        files: '\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: [types-requests]

  # Additional validation hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '2.15.0'

Comprehensive WebSocket architecture overhaul.
  apps/dashboard/src/components/emergency-override/index.tsx
  apps/dashboard/src/hooks/use-layer-state.tsx
  apps/dashboard/src/hooks/use-stream-commands.tsx
  apps/dashboard/src/hooks/use-stream-queue.tsx
  apps/dashboard/src/routes/__root.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/types/stream.ts
  apps/overlays/src/routeTree.gen.ts
  apps/overlays/src/routes/emergency.tsx
  apps/overlays/src/routes/index.tsx
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/test/server/transcription_test.exs
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Refactor StreamChannelTest to fix process management and improve maintainability.
  apps/server/test/server_web/channels/stream_channel_test.exs
Due: mix-format, mix-credo, mix-compile

Add WebSocket emergency flow integration tests.
  apps/server/test/integration/websocket_flow_test.exs
  apps/server/test/server_web/channels/stream_channel_test.exs
  apps/server/test/test_helper.exs
Due: mix-format, mix-credo, mix-compile

Remove manual queue operations that don't match interrupt model.
  apps/dashboard/src/services/stream-service.tsx
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/test/integration/websocket_flow_test.exs
  apps/server/test/server_web/channels/stream_channel_test.exs
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Replace console logging with structured @landale/logger in overlay components.
  apps/overlays/package.json
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/overlays/src/providers/socket-provider.tsx
  apps/overlays/src/routes/emergency.tsx
  bun.lock
Due: eslint, prettier, typescript-check

Add circuit breaker pattern for external service resilience.
  apps/server/lib/server/application.ex
  apps/server/lib/server/circuit_breaker.ex
  apps/server/lib/server/circuit_breaker_registry.ex
  apps/server/lib/server/external_call.ex
  apps/server/lib/server/oauth2_client.ex
Due: mix-format, mix-credo, mix-compile

Refactor API response handling.
  apps/dashboard/src/services/stream-service.tsx
  apps/server/lib/server/circuit_breaker.ex
  apps/server/lib/server/circuit_breaker_registry.ex
  apps/server/lib/server/external_call.ex
  apps/server/lib/server/oauth2_client.ex
  apps/server/lib/server_web/channels/dashboard_channel.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/lib/server_web/controllers/context_controller.ex
  apps/server/lib/server_web/controllers/obs_controller.ex
  apps/server/lib/server_web/controllers/twitch_controller.ex
  apps/server/lib/server_web/response_builder.ex
  apps/server/test/integration/websocket_flow_test.exs
  apps/server/test/server_web/channels/dashboard_channel_test.exs
  apps/server/test/server_web/channels/stream_channel_test.exs
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Interim styling.
  apps/dashboard/src/components/connection-status.tsx
  apps/dashboard/src/components/emergency-override.tsx
  apps/dashboard/src/components/layer-state-monitor.tsx
  apps/dashboard/src/components/layer-state-monitor/index.tsx
  apps/dashboard/src/components/status-bar.tsx
  apps/dashboard/src/components/stream-queue.tsx
  apps/dashboard/src/components/stream-queue/index.tsx
  apps/dashboard/src/hooks/use-layer-state.tsx
  apps/dashboard/src/hooks/use-stream-commands.tsx
  apps/dashboard/src/hooks/use-stream-queue.tsx
  apps/dashboard/src/routes/__root.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/styles.css
Due: eslint, prettier, typescript-check

No big deal, just throwing a Tauri app into the mix.
  apps/dashboard/package.json
  apps/dashboard/src-tauri/.gitignore
  apps/dashboard/src-tauri/Cargo.lock
  apps/dashboard/src-tauri/Cargo.toml
  apps/dashboard/src-tauri/build.rs
  apps/dashboard/src-tauri/capabilities/default.json
  apps/dashboard/src-tauri/icons/128x128.png
  apps/dashboard/src-tauri/icons/128x128@2x.png
  apps/dashboard/src-tauri/icons/32x32.png
  apps/dashboard/src-tauri/icons/Square107x107Logo.png
  apps/dashboard/src-tauri/icons/Square142x142Logo.png
  apps/dashboard/src-tauri/icons/Square150x150Logo.png
  apps/dashboard/src-tauri/icons/Square284x284Logo.png
  apps/dashboard/src-tauri/icons/Square30x30Logo.png
  apps/dashboard/src-tauri/icons/Square310x310Logo.png
  apps/dashboard/src-tauri/icons/Square44x44Logo.png
  apps/dashboard/src-tauri/icons/Square71x71Logo.png
  apps/dashboard/src-tauri/icons/Square89x89Logo.png
  apps/dashboard/src-tauri/icons/StoreLogo.png
  apps/dashboard/src-tauri/icons/icon.icns
  apps/dashboard/src-tauri/icons/icon.ico
  apps/dashboard/src-tauri/icons/icon.png
  apps/dashboard/src-tauri/src/lib.rs
  apps/dashboard/src-tauri/src/main.rs
  apps/dashboard/src-tauri/tauri.conf.json
  apps/dashboard/vite.config.ts
  bun.lock
Due: eslint, prettier, typescript-check

Add Radix, use Radix.
  apps/dashboard/index.html
  apps/dashboard/package.json
  apps/dashboard/src-tauri/tauri.conf.json
  apps/dashboard/src/components/connection-status.tsx
  apps/dashboard/src/components/emergency-override.tsx
  apps/dashboard/src/components/status-bar.tsx
  apps/dashboard/src/components/stream-queue.tsx
  apps/dashboard/src/components/ui/button.tsx
  apps/dashboard/src/routes/index.tsx
  bun.lock
Due: eslint, prettier, typescript-check

Refactor and enhance omnibar functionality; add testing scripts and documentation.
  apps/dashboard/src-tauri/build.rs
  apps/dashboard/src-tauri/capabilities/default.json
  apps/dashboard/src-tauri/src/lib.rs
  apps/dashboard/src-tauri/src/main.rs
  apps/dashboard/src/components/connection-status.tsx
Due: eslint, prettier, typescript-check

Rename the emergency panel to the takeover panel.
  apps/dashboard/src/components/takeover-panel.tsx
  apps/dashboard/src/routes/index.tsx
Due: eslint, prettier, typescript-check

Add ConnectionMonitor component for WebSocket failure handling.
  apps/dashboard/src/components/error-boundary.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/services/stream-service.tsx
Due: eslint, prettier, typescript-check

Rename emergency override to takeover; update related logic and tests.
  apps/dashboard/src/components/takeover-panel.tsx
  apps/dashboard/src/hooks/use-stream-commands.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/types/stream.ts
  apps/overlays/src/routes/emergency.tsx
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/test/integration/websocket_flow_test.exs
  apps/server/test/server_web/channels/stream_channel_test.exs
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Add SystemStatus component.
  apps/dashboard/src/components/status-bar.tsx
  apps/dashboard/src/components/system-status.tsx
Due: eslint, prettier, typescript-check

Integrate fallback handling across services.
  apps/dashboard/src/components/fallback-indicator.tsx
  apps/dashboard/src/components/system-status.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/server/lib/server/content_fallbacks.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Code review and using the main logger for dashboard.
  apps/dashboard/package.json
  apps/dashboard/src/components/connection-status.tsx
  apps/dashboard/src/components/debug-drawer.tsx
  apps/dashboard/src/components/error-boundary.tsx
  apps/dashboard/src/components/fallback-indicator.tsx
  apps/dashboard/src/components/layer-state-monitor.tsx
  apps/dashboard/src/components/status-bar.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/components/system-status.tsx
  apps/dashboard/src/components/takeover-panel.tsx
  apps/dashboard/src/components/ui/button.tsx
  apps/dashboard/src/hooks/use-layer-state.tsx
  apps/dashboard/src/hooks/use-stream-commands.tsx
  apps/dashboard/src/hooks/use-stream-queue.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/services/error-handler.ts
  apps/dashboard/src/services/form-validation.ts
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/styles.css
  apps/dashboard/src/types/stream.ts
  apps/dashboard/tsconfig.json
  apps/dashboard/vite.config.ts
  apps/server/README.md
  apps/server/lib/server/application.ex
  apps/server/lib/server/content_fallbacks.ex
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/api_client.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server/telemetry.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/mix.exs
  apps/server/mix.lock
  apps/server/openapi.json
  bun.lock
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Add ActivityLog module with event and user schemas, and implement event storage.
  apps/server/lib/server/activity_log.ex
  apps/server/lib/server/activity_log/event.ex
  apps/server/lib/server/activity_log/user.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/priv/repo/migrations/20250709232732_create_events_table.exs
  apps/server/priv/repo/migrations/20250709232847_create_users_table.exs
Due: mix-format, mix-credo, mix-compile

Implement Activity Log API with event retrieval and statistics endpoints; refactor event storage to async processing and update schemas for UUID primary keys.
  apps/server/lib/server/activity_log.ex
  apps/server/lib/server/activity_log/event.ex
  apps/server/lib/server/activity_log/user.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server_web/controllers/activity_log_controller.ex
  apps/server/lib/server_web/router.ex
  apps/server/priv/repo/migrations/20250709232732_create_events_table.exs
  apps/server/priv/repo/migrations/20250709232847_create_users_table.exs
  apps/server/priv/repo/migrations/20250709233721_fix_events_table_uuid_primary_key.exs
Due: mix-format, mix-credo, mix-compile

Add tests for ActivityLog API endpoints and event processing logic.
  apps/server/test/server/activity_log_test.exs
  apps/server/test/server/services/twitch/event_handler_test.exs
  apps/server/test/server_web/controllers/activity_log_controller_test.exs
Due: mix-format, mix-credo, mix-compile

Add Activity Log functionality.
  apps/dashboard/src/components/activity-log-panel.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/types/activity-log.ts
Due: eslint, prettier, typescript-check

Enhance useActivityLog hook with real-time event handling and deduplication logic.
  apps/dashboard/src/hooks/use-activity-log.tsx
Due: eslint, prettier, typescript-check

Activity Log (#32)
  apps/dashboard/src/components/activity-log-panel.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/types/activity-log.ts
  apps/server/lib/server/activity_log.ex
  apps/server/lib/server/activity_log/event.ex
  apps/server/lib/server/activity_log/user.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server_web/controllers/activity_log_controller.ex
  apps/server/lib/server_web/router.ex
  apps/server/priv/repo/migrations/20250709232732_create_events_table.exs
  apps/server/priv/repo/migrations/20250709232847_create_users_table.exs
  apps/server/priv/repo/migrations/20250709233721_fix_events_table_uuid_primary_key.exs
  apps/server/test/server/activity_log_test.exs
  apps/server/test/server/services/twitch/event_handler_test.exs
  apps/server/test/server_web/controllers/activity_log_controller_test.exs
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Fix erroneous migration files.
  apps/server/priv/repo/migrations/20250703213931_create_transcription_tables.exs
  apps/server/priv/repo/migrations/20250704165437_create_contexts_table.exs
  apps/server/priv/repo/migrations/20250709232732_create_events_table.exs
  apps/server/priv/repo/migrations/20250709233721_fix_events_table_uuid_primary_key.exs
Due: mix-format, mix-credo, mix-compile

Rename the final emergency to takeover.
  apps/overlays/src/routeTree.gen.ts
  apps/overlays/src/routes/takeover.tsx
Due: eslint, prettier, typescript-check

Refactor socket provider and enhance logging.
  apps/dashboard/package.json
  apps/dashboard/src/providers/socket-provider.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/overlays/package.json
  apps/overlays/src/routes/__root.tsx
  packages/shared/package.json
  packages/shared/src/config/index.ts
  packages/shared/src/index.ts
  packages/shared/src/providers/socket-provider.tsx
  packages/shared/tsconfig.json
Due: eslint, prettier, typescript-check

Remove unused dependencies and clean up logger utility types.
  apps/dashboard/package.json
  apps/dashboard/src/services/stream-service.tsx
  apps/overlays/package.json
  packages/logger/src/index.ts
  packages/shared/src/index.ts
Due: eslint, prettier, typescript-check

Add error boundaries and layer resolution.
  apps/dashboard/src/components/dashboard-error-boundary.tsx
  apps/dashboard/src/routes/__root.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/overlays/src/components/connection-error-boundary.tsx
  apps/overlays/src/components/error-boundary.tsx
  apps/overlays/src/components/omnibar.tsx
  apps/overlays/src/config/layer-mappings.ts
  apps/overlays/src/hooks/use-stream-channel.tsx
  packages/shared/src/index.ts
  packages/shared/src/layer-resolver.ts
  packages/shared/src/performance.ts
Due: eslint, prettier, typescript-check

Fix the build.
  apps/server/lib/server/correlation_id_pool.ex
  apps/server/lib/server/performance.ex
  apps/server/lib/server/services/rainwave.ex
  apps/server/priv/repo/migrations/20250709232732_create_events_table.exs
  apps/server/priv/repo/migrations/20250709233721_fix_events_table_uuid_primary_key.exs
Due: mix-format, mix-credo, mix-compile

Fix the build.
  apps/server/lib/server/correlation_id_pool.ex
  apps/server/lib/server/performance.ex
  apps/server/lib/server/services/rainwave.ex
  apps/server/priv/repo/migrations/20250703213931_create_transcription_tables.exs
  apps/server/priv/repo/migrations/20250704165437_create_contexts_table.exs
  apps/server/priv/repo/migrations/20250709232732_create_events_table.exs
  apps/server/priv/repo/migrations/20250709233721_fix_events_table_uuid_primary_key.exs
Due: mix-format, mix-credo, mix-compile

Fix dashboard warnings.
  apps/dashboard/package.json
  apps/dashboard/src/routes/__root.tsx
  bun.lock
Due: eslint, prettier, typescript-check

Fix dashboard recursion.
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/providers/socket-provider.tsx
  apps/dashboard/src/routes/__root.tsx
Due: eslint, prettier, typescript-check

Refactor event payload type in useActivityLog for better type safety.
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
Due: eslint, prettier, typescript-check

Get rid of the nonsensical data attributes.
  apps/dashboard/src/components/debug-drawer.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/components/ui/button.tsx
  apps/overlays/src/components/layer-renderer.tsx
  apps/overlays/src/components/omnibar.tsx
  apps/overlays/src/components/omnibar/index.tsx
  apps/overlays/src/routes/index.tsx
  apps/overlays/src/routes/takeover.tsx
Due: eslint, prettier, typescript-check

Remove unnecessary debug logging.
  apps/server/lib/server/events.ex
  apps/server/lib/server/external_call.ex
  apps/server/lib/server/services/obs.ex
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server_web/channels/dashboard_channel.ex
Due: mix-format, mix-credo, mix-compile

Add test setup and implement race condition handling in Layer Orchestrator.
  apps/overlays/bunfig.toml
  apps/overlays/package.json
  apps/overlays/src/hooks/use-layer-orchestrator-simple.test.ts
  apps/overlays/src/hooks/use-layer-orchestrator.test.ts
  apps/overlays/src/hooks/use-layer-orchestrator.tsx
  apps/overlays/test/setup.ts
  bun.lock
Due: eslint, prettier, typescript-check

Enhance layer state management during interruption and exit processes.
  apps/overlays/src/hooks/use-layer-orchestrator.test.ts
Due: eslint, prettier, typescript-check

Remove simplified debugging test.
  apps/overlays/src/hooks/use-layer-orchestrator-simple.test.ts
  apps/overlays/src/hooks/use-layer-orchestrator.test.ts
Due: eslint, prettier, typescript-check

Add test scripts and update Turbo configuration.
  apps/dashboard/package.json
  apps/overlays/turbo.json
  bun.lock
  package.json
  packages/shared/package.json
  turbo.json
Due: prettier
