Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format-server, mix-format-nurvus, mix-credo

eslint:
  name: eslint
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
  language: system
  pass_filenames: false

mix-format-server:
  name: mix format (server)
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
  language: system
  pass_filenames: true

mix-format-nurvus:
  name: mix format (nurvus)
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/nurvus && mix format; else echo "Skipping mix format - Elixir not available"; fi'
  language: system
  pass_filenames: true

mix-credo:
  name: mix credo
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo; else echo "Skipping mix credo - Elixir not available"; fi'
  language: system
  pass_filenames: false

Add correlation dashboard components for real-time insights.
  apps/dashboard/src/components/correlation-dashboard.tsx
  apps/dashboard/src/components/correlation-feed.tsx
  apps/dashboard/src/components/correlation-insights.tsx
  apps/dashboard/src/components/correlation-metrics.tsx
  apps/dashboard/src/components/correlation-patterns.tsx
  apps/dashboard/src/hooks/use-correlation-channel.tsx
  apps/dashboard/src/routes/index.tsx
Due: eslint, prettier, typescript-check

Add dedicated correlations route and navigation link.
  apps/dashboard/src/components/status-bar.tsx
  apps/dashboard/src/routeTree.gen.ts
  apps/dashboard/src/routes/correlations.tsx
Due: eslint, prettier, typescript-check

Add TimescaleDB performance optimizations for aggregates, text search, and chunk-aware queries.
  apps/server/lib/server/timescale/query_optimizer.ex
  apps/server/lib/server/transcription/analytics.ex
  apps/server/lib/server/transcription/optimized_analytics.ex
  apps/server/priv/repo/migrations/20250817100001_add_timescaledb_continuous_aggregates.exs
  apps/server/priv/repo/migrations/20250817100002_optimize_text_search_indexes.exs
  apps/server/priv/repo/migrations/20250817100003_add_chunk_aware_optimizations.exs
Due: mix-format-server, mix-credo

Fix SubscriptionCoordinator failed count tracking and add comprehensive OBS protocol validation.
  apps/server/lib/server/services/obs/protocol.ex
  apps/server/lib/server/services/twitch/session_manager.ex
  apps/server/lib/server/services/twitch/subscription_coordinator.ex
Due: mix-format-server, mix-credo

Fix Twitch service state corruption from subscription coordinator tuple handling.
  apps/server/lib/server/services/twitch.ex
Due: mix-format-server, mix-credo

Make calculate_hourly_volume_db public for external access.
  apps/server/lib/server/transcription/analytics.ex
Due: mix-format-server, mix-credo

Add temporal correlation analysis system with two-stage processing.
  apps/dashboard/src/components/temporal-analysis.tsx
  apps/server/lib/server/application.ex
  apps/server/lib/server/correlation/temporal_analyzer.ex
  apps/server/lib/server/correlation/temporal_engine.ex
  apps/server/priv/repo/migrations/20250817100003_add_chunk_aware_optimizations.exs
  apps/server/priv/repo/migrations/20250817103000_add_temporal_correlation_fields.exs
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix TemporalEngine buffer initialization argument error.
  apps/server/lib/server/correlation/temporal_engine.ex
Due: mix-format-server, mix-credo

Add temporal correlation analysis with TimescaleDB optimization and research-first rule.
  CLAUDE.md
  apps/server/priv/repo/migrations/20250817100001_add_timescaledb_continuous_aggregates.exs
  apps/server/priv/repo/migrations/20250817100002_optimize_text_search_indexes.exs
  apps/server/priv/repo/migrations/20250817100003_add_chunk_aware_optimizations.exs
  apps/server/priv/repo/migrations/20250817103000_add_temporal_correlation_fields.exs
Due: prettier, mix-format-server, mix-credo

Don't blind Bryan when the server's restarting.
  apps/dashboard/src/components/error-boundary.tsx
Due: eslint, prettier, typescript-check

Revert "Add temporal correlation analysis with TimescaleDB optimization and research-first rule."
  CLAUDE.md
  apps/server/priv/repo/migrations/20250817100001_add_timescaledb_continuous_aggregates.exs
  apps/server/priv/repo/migrations/20250817100002_optimize_text_search_indexes.exs
  apps/server/priv/repo/migrations/20250817100003_add_chunk_aware_optimizations.exs
  apps/server/priv/repo/migrations/20250817103000_add_temporal_correlation_fields.exs
Due: prettier, mix-format-server, mix-credo

Revert "Add temporal correlation analysis system with two-stage processing."
  apps/dashboard/src/components/temporal-analysis.tsx
  apps/server/lib/server/application.ex
  apps/server/lib/server/correlation/temporal_analyzer.ex
  apps/server/lib/server/correlation/temporal_engine.ex
  apps/server/priv/repo/migrations/20250817100003_add_chunk_aware_optimizations.exs
  apps/server/priv/repo/migrations/20250817103000_add_temporal_correlation_fields.exs
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Revert "Add dedicated correlations route and navigation link."
  apps/dashboard/src/components/status-bar.tsx
  apps/dashboard/src/routeTree.gen.ts
  apps/dashboard/src/routes/correlations.tsx
Due: eslint, prettier, typescript-check

Revert "Add correlation dashboard components for real-time insights."
  apps/dashboard/src/components/correlation-dashboard.tsx
  apps/dashboard/src/components/correlation-feed.tsx
  apps/dashboard/src/components/correlation-insights.tsx
  apps/dashboard/src/components/correlation-metrics.tsx
  apps/dashboard/src/components/correlation-patterns.tsx
  apps/dashboard/src/hooks/use-correlation-channel.tsx
  apps/dashboard/src/routes/index.tsx
Due: eslint, prettier, typescript-check

Revert "Add correlation engine for matching chat to transcriptions."
  apps/server/lib/server/application.ex
  apps/server/lib/server/correlation/correlation.ex
  apps/server/lib/server/correlation/engine.ex
  apps/server/lib/server/correlation/monitor.ex
  apps/server/lib/server/correlation/repository.ex
  apps/server/lib/server/correlation/sliding_buffer.ex
  apps/server/lib/server/correlation/time_buffer.ex
  apps/server/lib/server_web/channels/correlation_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
  apps/server/priv/repo/migrations/20250817013719_create_correlations_table_simple.exs
  apps/server/test/live_correlation_test.exs
  apps/server/test/server/correlation/buffer_benchmark_test.exs
  apps/server/test/server/correlation/engine_test.exs
  apps/server/test/server/correlation/monitor_test.exs
  apps/server/test/server/correlation/repository_retry_test.exs
  apps/server/test/server/correlation/time_buffer_test.exs
  apps/server/test/server/task_supervisor_test.exs
  apps/server/test/server_web/channels/correlation_channel_test.exs
Due: mix-format-server, mix-credo

Clean up remaining correlation system references.
  apps/server/lib/server/events.ex
  apps/server/lib/server/transcription/broadcaster.ex
  apps/server/lib/server/transcription/optimized_analytics.ex
Due: mix-format-server, mix-credo

Complete RAG system integration with LM Studio.
  apps/overlays/src/routeTree.gen.ts
  apps/seed/src/community.py
  apps/seed/src/community_api.py
  apps/seed/src/config.py
  apps/seed/src/context_client.py
  apps/seed/src/health.py
  apps/seed/src/main.py
  apps/seed/src/quotes_api.py
  apps/seed/src/quotes_integration.py
  apps/seed/src/rag_handler.py
  apps/seed/src/rag_lms_client.py
  apps/seed/src/rag_websocket.py
  apps/seed/src/text_analysis.py
  apps/seed/src/text_analysis_exceptions.py
  apps/seed/src/text_analysis_schema.py
  apps/seed/src/text_preprocessors.py
  apps/seed/src/vocabulary_extractor.py
  apps/server/lib/server/community.ex
  apps/server/lib/server/community/member.ex
  apps/server/lib/server/community/pronunciation.ex
  apps/server/lib/server/community/vocabulary.ex
  apps/server/lib/server/events.ex
  apps/server/lib/server_web/controllers/community_controller.ex
  apps/server/lib/server_web/router.ex
  apps/server/priv/repo/migrations/20250817100003_add_chunk_aware_optimizations.exs
  apps/server/priv/repo/migrations/20250817175725_create_community_tables.exs
  pyproject.toml
  uv.lock
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Take better advantage of `lmstudio-python`.
  apps/seed/src/rag_handler.py
  apps/seed/src/rag_lms_client.py
Due: none

Clean up RAG handler after firehose implementation.
  apps/seed/src/rag_handler.py
  apps/seed/src/rag_lms_client.py
  apps/server/lib/server/activity_log.ex
  apps/server/lib/server_web/controllers/activity_log_controller.ex
  apps/server/lib/server_web/router.ex
Due: mix-format-server, mix-credo

Add PromptManager for dynamic whisper prompting and comprehensive optimizations.
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/prompt_manager.py
  apps/phononmaser/tests/test_audio_processor_prompt_caching.py
  apps/phononmaser/tests/test_audio_processor_prompt_integration.py
  apps/phononmaser/tests/test_main_service_prompt_integration.py
  apps/phononmaser/tests/test_prompt_manager.py
  apps/phononmaser/tests/test_prompt_manager_mocks.py
  apps/phononmaser/tests/test_prompt_safety_features.py
  packages/shared-python/src/shared/circuit_breaker.py
  packages/shared-python/src/shared/config/settings.py
  packages/shared-python/tests/test_circuit_breaker_exponential_backoff.py
  packages/shared-python/tests/test_configuration_validation.py
Due: none

Set ENABLE_PROMPT_MANAGER to True.
  apps/phononmaser/src/main.py
Due: none

Server's on Saya.
  packages/shared-python/src/shared/config/settings.py
Due: none

Dedupe events in the dashboard.
  apps/dashboard/src/hooks/use-activity-log.tsx
Due: eslint, prettier, typescript-check

Fix keepalive timeout handler bugs and test compilation errors.
  apps/server/lib/server/services/twitch.ex
  apps/server/test/server/event_system_integration_test.exs
  apps/server/test/server/obs_service_compliance_test.exs
  apps/server/test/server/services/twitch_test.exs
Due: mix-format-server, mix-credo

Smack CI around a bit.
  .github/workflows/ci-python.yml
  .github/workflows/ci-server.yml
  .github/workflows/ci-typescript.yml
Due: prettier

Axe unnecessary circuit breakers and correct ports.
  apps/phononmaser/src/main.py
  apps/phononmaser/src/prompt_manager.py
  apps/seed/src/config.py
  apps/seed/src/lms_client.py
  apps/seed/src/service_config.py
  packages/shared-python/src/shared/__init__.py
  packages/shared-python/src/shared/circuit_breaker.py
  packages/shared-python/src/shared/config/settings.py
Due: none

Fix Seed service architecture and remove circuit breaker overengineering.
  apps/phononmaser/src/prompt_manager.py
  apps/seed/src/lms_client.py
  apps/seed/src/main.py
Due: none

Try to make CTRL-C work good.
  package.json
Due: prettier

Standardize structured logging across shared-python package.
  packages/shared-python/src/shared/config/settings.py
  packages/shared-python/src/shared/error_boundary.py
  packages/shared-python/src/shared/supervisor.py
  packages/shared-python/src/shared/task_tracker.py
  packages/shared-python/src/shared/websockets/client.py
Due: none

Centralize Python logging configuration for consistent JSON structured logging.
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/health.py
  apps/phononmaser/src/logger.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/prompt_manager.py
  apps/phononmaser/src/websocket_client.py
  apps/phononmaser/src/websocket_server.py
  apps/seed/src/community.py
  apps/seed/src/community_api.py
  apps/seed/src/context_client.py
  apps/seed/src/correlator.py
  apps/seed/src/dataset_exporter.py
  apps/seed/src/health.py
  apps/seed/src/lms_client.py
  apps/seed/src/main.py
  apps/seed/src/quotes_api.py
  apps/seed/src/quotes_integration.py
  apps/seed/src/rag_handler.py
  apps/seed/src/rag_lms_client.py
  apps/seed/src/rag_websocket.py
  apps/seed/src/text_analysis.py
  apps/seed/src/text_preprocessors.py
  apps/seed/src/training_cli.py
  apps/seed/src/training_pipeline.py
  apps/seed/src/transcription_client.py
  apps/seed/src/vocabulary_extractor.py
  apps/seed/src/websocket_client.py
  apps/seed/start.py
  packages/shared-python/pyproject.toml
  packages/shared-python/src/shared/config/settings.py
  packages/shared-python/src/shared/error_boundary.py
  packages/shared-python/src/shared/logger.py
  packages/shared-python/src/shared/supervisor.py
  packages/shared-python/src/shared/task_tracker.py
  packages/shared-python/src/shared/websockets/client.py
  uv.lock
Due: none

Remove a redundant entry point.
  apps/seed/start.py
Due: none

Fix PostgreSQL and TimescaleDB migration compatibility issues.
  apps/server/priv/repo/migrations/20250817100001_add_timescaledb_continuous_aggregates.exs
  apps/server/priv/repo/migrations/20250817100002_optimize_text_search_indexes.exs
  apps/server/priv/repo/migrations/20250817100003_add_chunk_aware_optimizations.exs
  apps/server/priv/repo/migrations/20250817175725_create_community_tables.exs
Due: mix-format-server, mix-credo

Refactor health check endpoints.
  apps/phononmaser/src/health.py
  apps/seed/src/health.py
  apps/seed/src/main.py
  packages/shared-python/src/shared/__init__.py
  packages/shared-python/src/shared/health.py
  packages/shared-python/src/shared/task_tracker.py
Due: none

Avalonstar is me.
  apps/seed/src/rag_handler.py
Due: none

Refactor RAGHandler to use firehose API endpoints and remove bulk events endpoint.
  apps/seed/src/rag_handler.py
  apps/server/lib/server_web/controllers/activity_log_controller.ex
  apps/server/lib/server_web/router.ex
Due: mix-format-server, mix-credo

Enhance the RAG.
  apps/seed/src/rag_handler.py
Due: none

It's 7175. NOT 8080.
  apps/phononmaser/tests/test_main_service_prompt_integration.py
  apps/phononmaser/tests/test_prompt_manager.py
  apps/phononmaser/tests/test_prompt_safety_features.py
  apps/seed/src/training_cli.py
  apps/server/test/server/websocket_client_test.exs
Due: mix-format-server, mix-credo

Change RAGHandler to session-based data retrieval.
  apps/seed/README.md
  apps/seed/src/rag_handler.py
Due: prettier

Prepping activity log styling.
  apps/dashboard/src/components/activity-log-panel.tsx
Due: eslint, prettier, typescript-check

Add emote rendering.
  apps/dashboard/src/components/activity-log-panel.tsx
Due: eslint, prettier, typescript-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  typescript-check: any of: \.(ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  mix-format-server: any of: ^apps/server/.*\.(ex|exs)$
  mix-format-nurvus: any of: ^apps/nurvus/.*\.(ex|exs)$
  mix-credo: any of: ^apps/server/.*\.(ex|exs)$
