Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General/Multi-language hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: '.*\.md$'
      - id: check-yaml
        exclude: '^\.github/.*\.yml$'
      - id: check-json
        exclude: '(tsconfig.*\.json$|\.vscode/.*\.json$)'
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: typescript-check
        name: typescript-check
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
        language: system
        files: '\.(ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

  # Elixir hooks
  - repo: local
    hooks:
      - id: mix-format
        name: mix format
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-credo
        name: mix credo
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo --strict; else echo "Skipping mix credo - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-compile
        name: mix compile
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix compile --warnings-as-errors; else echo "Skipping mix compile - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        files: '\.py$'

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        files: '\.py$'

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        files: '\.py$'
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        files: '\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: [types-requests]

  # Additional validation hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '2.15.0'

Implement real Silero VAD integration with PyTorch/TorchAudio.
  apps/phononmaser/pyproject.toml
  apps/phononmaser/src/silero_vad.py
  apps/phononmaser/uv.lock
Due: none

Refactor SileroVAD initialization to use microphone-specific configuration and update tests to remove hardcoded threshold values.
  apps/phononmaser/src/silero_vad.py
  apps/phononmaser/tests/test_silero_vad.py
Due: none

Fix(?) Python CI.
  .github/workflows/ci-python.yml
Due: prettier

Implement TDD PHASE 2.3: Ring buffer audio processor for continuous streaming.
  apps/phononmaser/src/ring_buffer_audio_processor.py
  apps/phononmaser/tests/test_ring_buffer.py
Due: none

Fix an unused import.
  apps/phononmaser/src/silero_vad.py
Due: none

TDD PHASE 3.1-R: Remove unused caption infrastructure and simplify Phoenix integration.
  apps/phononmaser/src/main.py
  apps/phononmaser/src/websocket_server.py
  apps/phononmaser/tests/test_phoenix_integration.py
Due: none

Implement TDD memory optimization features for audio processing.
  apps/phononmaser/pyproject.toml
  apps/phononmaser/src/testable_audio_processor.py
  apps/phononmaser/tests/test_memory_optimization.py
  apps/phononmaser/tests/test_real_audio_infrastructure.py
  apps/phononmaser/uv.lock
Due: none

Add memory optimization to production AudioProcessor.
  apps/phononmaser/src/audio_processor.py
Due: none

Writing tests to delete them afterwards. 🙃
  .github/workflows/ci-python.yml
  apps/phononmaser/src/adaptive_chunker.py
  apps/phononmaser/src/microphone_profiles.py
  apps/phononmaser/src/overlap_detector.py
  apps/phononmaser/src/ring_buffer_audio_processor.py
  apps/phononmaser/src/silero_vad.py
  apps/phononmaser/src/sliding_window_buffer.py
  apps/phononmaser/src/testable_audio_processor.py
  apps/phononmaser/src/thread_safe_audio_processor.py
  apps/phononmaser/tests/conftest.py
  apps/phononmaser/tests/test_adaptive_chunking.py
  apps/phononmaser/tests/test_memory_optimization.py
  apps/phononmaser/tests/test_overlap_detection.py
  apps/phononmaser/tests/test_phoenix_integration.py
  apps/phononmaser/tests/test_ring_buffer.py
  apps/phononmaser/tests/test_silero_vad.py
  apps/phononmaser/tests/test_sliding_window.py
  apps/phononmaser/tests/test_thread_safe_audio_buffer.py
  apps/phononmaser/tests/test_transcription_timestamp.py
Due: prettier

Skip if no tests.
  .github/workflows/ci-python.yml
Due: prettier

Buff CLAUDE.md.
  CLAUDE.md
Due: prettier

Axe ARCHITECTURE.md.
  ARCHITECTURE.md
Due: prettier

Fix memory exhaustion vulnerability in phononmaser WebSocket server.
  apps/phononmaser/src/websocket_server.py
Due: none

Implement WebSocket reconnection for Python services.
  apps/seed/src/websocket_base.py
  apps/seed/src/websocket_client.py
Due: none

Refactor event batching to use internal buffer instead of ETS table; enhance stats tracking for immediate events and current buffer size.
  apps/server/lib/server/events/batch_publisher.ex
Due: mix-format, mix-credo, mix-compile

Standardize Python configuration with shared package.
  apps/phononmaser/pyproject.toml
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/service_config.py
  apps/phononmaser/src/websocket_server.py
  apps/seed/pyproject.toml
  apps/seed/run.py
  apps/seed/src/service_config.py
  apps/seed/src/websocket_client.py
  packages/shared-python/README.md
  packages/shared-python/pyproject.toml
  packages/shared-python/src/__init__.py
  packages/shared-python/src/config/__init__.py
  packages/shared-python/src/config/settings.py
  packages/shared-python/src/websockets/__init__.py
  packages/shared-python/src/websockets/client.py
Due: prettier

Fix critical ETS security vulnerabilities.
  apps/server/lib/server/cache.ex
  apps/server/lib/server/circuit_breaker_registry.ex
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/correlation_id_pool.ex
  apps/server/lib/server/retry_strategy.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server/stream_producer.ex
Due: mix-format, mix-credo, mix-compile

Add build script with automatic version increment.
  apps/nurvus/build.sh
Due: none

Add Python service and LM Studio configurations to .env.example.
  .env.example
Due: none

Refactor circuit breaker implementation.
  apps/server/lib/server/application.ex
  apps/server/lib/server/circuit_breaker.ex
  apps/server/lib/server/circuit_breaker_registry.ex
  apps/server/lib/server/circuit_breaker_server.ex
  apps/server/lib/server/external_call.ex
  apps/server/test/server/circuit_breaker_server_test.exs
Due: mix-format, mix-credo, mix-compile

Migrate Python services to UV workspace architecture.
  CLAUDE.md
  apps/phononmaser/pyproject.toml
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/health.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/server_client.py
  apps/phononmaser/src/websocket_server.py
  apps/seed/pyproject.toml
  apps/seed/src/websocket_client.py
  package.json
  packages/shared-python/src/config/__init__.py
  packages/shared-python/src/shared/__init__.py
  packages/shared-python/src/shared/config/__init__.py
  packages/shared-python/src/shared/config/settings.py
  packages/shared-python/src/shared/error_boundary.py
  packages/shared-python/src/shared/websockets/__init__.py
  packages/shared-python/src/shared/websockets/client.py
  pyproject.toml
  uv.lock
Due: prettier

Enhance task management by integrating global tracker for audio processing and service shutdowns.
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/server_client.py
  apps/phononmaser/src/websocket_server.py
  apps/seed/src/main.py
  apps/seed/src/websocket_client.py
  apps/server/lib/server/circuit_breaker_server.ex
  apps/server/lib/server/external_call.ex
  apps/server/test/server/circuit_breaker_server_test.exs
  packages/shared-python/src/__init__.py
  packages/shared-python/src/shared/__init__.py
  packages/shared-python/src/shared/error_boundary.py
  packages/shared-python/src/shared/task_tracker.py
Due: mix-format, mix-credo, mix-compile

Ready for round 2.
  CLAUDE.md
Due: prettier

Fix OBS GenServer blocking with async sleep pattern.
  apps/server/lib/server/services/obs.ex
Due: mix-format, mix-credo, mix-compile

Update ETS table access levels for improved security.
  apps/server/lib/server/subscription_storage.ex
  apps/server/test/server/retry_strategy_test.exs
Due: mix-format, mix-credo, mix-compile

Update dependencies in pyproject.toml and uv.lock files.
  apps/phononmaser/pyproject.toml
  apps/seed/pyproject.toml
  packages/shared-python/pyproject.toml
  uv.lock
Due: none

Add unregister functionality and memory management for layer orchestrator.
  apps/overlays/src/components/animated-layer.tsx
  apps/overlays/src/components/omnibar.tsx
  apps/overlays/src/hooks/use-layer-orchestrator.test.ts
  apps/overlays/src/hooks/use-layer-orchestrator.tsx
Due: eslint, prettier, typescript-check

Update CLAUDE.md.
  CLAUDE.md
Due: prettier

Create developer handbook and clean up documentation.
  docs/PRE_COMMIT_SETUP.md
  handbook/00_README.md
  handbook/01_vision_and_goals/ai_companion.md
  handbook/02_architecture/system_overviews/event_to_layer_mapping.md
  handbook/02_architecture/system_overviews/ironmon_integration.md
  handbook/03_patterns_and_practices/async_operation_lifecycle.md
  handbook/03_patterns_and_practices/gsap_memory_management.md
  handbook/03_patterns_and_practices/phoenix_channel_resilience.md
  handbook/04_operations/macos_setup.md
  handbook/05_future_work/roadmap.md
Due: prettier

Update documentation to reflect changes in package management and feature roadmap.
  CLAUDE.md
  apps/dashboard/README.md
  apps/overlays/README.md
  handbook/05_future_work/roadmap.md
Due: prettier

Enhance developer handbook with new architecture overviews and correlation ID tracing documentation.
  handbook/00_README.md
  handbook/01_vision_and_goals/ai_companion.md
  handbook/02_architecture/system_overviews/stream_correlation_system.md
  handbook/03_patterns_and_practices/correlation_id_tracing.md
Due: prettier

Formalize WebSocket resilience patterns with ChannelBase module.
  apps/server/lib/server_web/channel_base.ex
  apps/server/lib/server_web/channels/dashboard_channel.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/channels/overlay_channel.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/lib/server_web/channels/transcription_channel.ex
  apps/server/test/server_web/channel_base_test.exs
  handbook/03_patterns_and_practices/websocket_resilience_patterns.md
Due: prettier, mix-format, mix-credo, mix-compile

Implement task concurrency limits and improve event handler robustness.
  apps/server/lib/server/application.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/test/server/task_concurrency_test.exs
  handbook/03_patterns_and_practices/task_concurrency_patterns.md
Due: prettier, mix-format, mix-credo, mix-compile

Round 3.
  CLAUDE.md
Due: prettier

Refactor OBS service from monolithic to decomposed architecture.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/connections_supervisor.ex
  apps/server/lib/server/services/obs/event_handler.ex
  apps/server/lib/server/services/obs/protocol.ex
  apps/server/lib/server/services/obs/request_tracker.ex
  apps/server/lib/server/services/obs/scene_manager.ex
  apps/server/lib/server/services/obs/stats_collector.ex
  apps/server/lib/server/services/obs/stream_manager.ex
  apps/server/lib/server/services/obs/supervisor.ex
  apps/server/lib/server/services/obs_behaviour.ex
  apps/server/lib/server/services/obs_facade.ex
Due: mix-format, mix-credo, mix-compile

Complete OBS service refactoring and bug fixes.
  apps/server/lib/server/services/obs.ex
  apps/server/lib/server/services/obs/protocol.ex
  apps/server/lib/server/services/obs_facade.ex
Due: mix-format, mix-credo, mix-compile

Fix OBS service API compatibility issues.
  apps/server/lib/server/services/obs.ex
Due: mix-format, mix-credo, mix-compile

Fix CI build issues by refactoring ChannelBase.
  apps/server/lib/server_web/channel_base.ex
  apps/server/lib/server_web/channel_helpers.ex
  apps/server/lib/server_web/event_batcher.ex
Due: mix-format, mix-credo, mix-compile
