Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General/Multi-language hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: '.*\.md$'
      - id: check-yaml
        exclude: '^\.github/.*\.yml$'
      - id: check-json
        exclude: '(tsconfig.*\.json$|\.vscode/.*\.json$)'
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: typescript-check
        name: typescript-check
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
        language: system
        files: '\.(ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

  # Elixir hooks
  - repo: local
    hooks:
      - id: mix-format
        name: mix format
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-credo
        name: mix credo
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo --strict; else echo "Skipping mix credo - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-compile
        name: mix compile
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix compile --warnings-as-errors; else echo "Skipping mix compile - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        files: '\.py$'

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        files: '\.py$'

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        files: '\.py$'
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        files: '\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: [types-requests]

  # Additional validation hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '2.15.0'

Add TypeScript CI workflow.
  .github/workflows/ci-typescript.yml
Due: prettier

Refactor CI workflows.
  .github/workflows/ci-nurvus.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-server.yml
  .github/workflows/ci-typescript.yml
  .pre-commit-config.yaml
  apps/phononmaser/pyproject.toml
  apps/seed/pyproject.toml
Due: prettier

Pre-commit fixes.
  .pre-commit-config.yaml
Due: prettier

Update dependency groups in pyproject.toml and add uv.lock file.
  pyproject.toml
  uv.lock
Due: none

Have Prettier ignore build artifacts.
  .prettierignore
Due: none

Axe unused "executables."
  apps/server/test_obs_endpoints.exs
  apps/server/test_obs_service.exs
Due: mix-format, mix-credo, mix-compile

Fix typecheck errors in the logger package.
  packages/logger/src/browser.ts
  packages/logger/src/config.ts
  packages/logger/src/index.ts
  packages/logger/src/seq-transport.ts
  packages/logger/tsconfig.json
Due: eslint, prettier, typescript-check

Add ESLint v9 configuration.
  apps/overlays/test/setup.ts
  eslint.config.mjs
Due: eslint, prettier, typescript-check

Python fixes and formatting.
  apps/phononmaser/run.py
  apps/phononmaser/src/__init__.py
  apps/phononmaser/src/__main__.py
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/events.py
  apps/phononmaser/src/health.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/server_client.py
  apps/phononmaser/src/service_config.py
  apps/phononmaser/src/websocket_server.py
  apps/phononmaser/uv.lock
  apps/seed/src/__init__.py
  apps/seed/src/__main__.py
  apps/seed/src/context_client.py
  apps/seed/src/correlator.py
  apps/seed/src/dataset_exporter.py
  apps/seed/src/events.py
  apps/seed/src/health.py
  apps/seed/src/lms_client.py
  apps/seed/src/main.py
  apps/seed/src/service_config.py
  apps/seed/src/training_cli.py
  apps/seed/src/training_pipeline.py
  apps/seed/src/transcription_client.py
  apps/seed/src/websocket_client.py
  apps/seed/start.py
  apps/seed/uv.lock
Due: none

Elixir formatting and fixes.
  apps/server/lib/server/services/obs.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server_web/channels/dashboard_channel.ex
Due: mix-format, mix-credo, mix-compile

Install ruff properly for both Python apps in CI.
  .github/workflows/ci-python.yml
Due: prettier

Apply ruff formatting and handle no-tests case in Python CI.
  .github/workflows/ci-python.yml
  apps/seed/src/dataset_exporter.py
Due: prettier

Always specify that port.
  apps/overlays/src/providers/socket-provider.tsx
Due: eslint, prettier, typescript-check

Bump dependencies.
  apps/dashboard/package.json
  apps/overlays/package.json
  bun.lock
  package.json
  packages/logger/package.json
  packages/shared/package.json
Due: prettier

Create workflows to create rolling releases.
  .github/workflows/ci-dashboard.yml
  .github/workflows/ci-nurvus.yml
Due: prettier

Add typecheck and lint scripts to Dashboard's package.json.
  apps/dashboard/package.json
Due: prettier

Make ESLint happy.
  apps/dashboard/src/components/fallback-indicator.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/components/stream-queue.tsx
  apps/dashboard/src/components/takeover-panel.tsx
  apps/dashboard/src/components/ui/button.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/dashboard/src/services/form-validation.ts
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/types/activity-log.ts
  apps/dashboard/src/types/stream.ts
  packages/logger/src/index.ts
  packages/shared/src/index.ts
  packages/shared/src/types/phoenix.ts
Due: eslint, prettier, typescript-check

Extract stream state domain logic from StreamProducer GenServer.
  apps/server/lib/server/domains/stream_state.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/test/runner.exs
  apps/server/test/server/domains/stream_state_test.exs
Due: mix-format, mix-credo, mix-compile

Remove overengineered client-side layer coordination.
  apps/overlays/src/components/omnibar.tsx
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/server/lib/server/domains/layer_coordination.ex
  apps/server/lib/server/domains/stream_state.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/test/runner.exs
  apps/server/test/server/domains/layer_coordination_test.exs
  apps/server/test/server/domains/stream_state_test.exs
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Add alert prioritization domain logic and corresponding tests.
  apps/server/lib/server/domains/alert_prioritization.ex
  apps/server/test/runner.exs
  apps/server/test/server/domains/alert_prioritization_test.exs
Due: mix-format, mix-credo, mix-compile

Implement event sourcing domain and clean up infrastructure tests.
  apps/overlays/src/domains/alert-prioritization.test.ts
  apps/overlays/src/domains/alert-prioritization.ts
  apps/server/lib/server/domains/event_sourcing.ex
  apps/server/test/integration/websocket_flow_test.exs
  apps/server/test/runner.exs
  apps/server/test/server/domains/event_sourcing_test.exs
  apps/server/test/server/stream_producer_test.exs
  apps/server/test/server/websocket_client_test.exs
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Add domain logic for correlation analysis and corresponding tests.
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/domains/__init__.py
  apps/phononmaser/src/domains/audio_processing.py
  apps/phononmaser/tests/domains/__init__.py
  apps/phononmaser/tests/domains/test_audio_processing.py
  apps/seed/src/domains/__init__.py
  apps/seed/src/domains/correlation_analysis.py
  apps/seed/tests/domains/__init__.py
  apps/seed/tests/domains/test_correlation_analysis.py
Due: none

Implement functional core/imperative shell pattern for StreamCorrelator.
  apps/seed/src/__init__.py
  apps/seed/src/__main__.py
  apps/seed/src/context_client.py
  apps/seed/src/correlator.py
  apps/seed/src/dataset_exporter.py
  apps/seed/src/lms_client.py
  apps/seed/src/main.py
  apps/seed/src/training_cli.py
  apps/seed/src/training_pipeline.py
  apps/seed/src/transcription_client.py
  apps/seed/src/websocket_client.py
Due: none

Fix Elixir and Python linting errors.
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/domains/audio_processing.py
  apps/seed/src/correlator.py
  apps/seed/src/domains/correlation_analysis.py
  apps/server/lib/server/domains/event_sourcing.ex
  apps/server/lib/server/external_call.ex
  apps/server/test/server/domains/layer_coordination_test.exs
  apps/server/test/server/domains/stream_state_test.exs
Due: mix-format, mix-credo, mix-compile

Fix StreamProducer test failures by adding missing last_updated field and making get_ticker_rotation_for_show public.
  apps/server/lib/server/domains/stream_state.ex
  apps/server/lib/server/stream_producer.ex
Due: mix-format, mix-credo, mix-compile

Fix DateTime.diff type mismatch in StreamProducer sub train handling.
  apps/server/lib/server/stream_producer.ex
Due: mix-format, mix-credo, mix-compile

Fix Python CI Ruff import sorting violations.
  apps/phononmaser/tests/domains/test_audio_processing.py
  apps/seed/tests/domains/test_correlation_analysis.py
Due: none

Fix unused variable PriorityLevel in alert-prioritization.test.ts.
  apps/overlays/src/domains/alert-prioritization.test.ts
Due: eslint, prettier, typescript-check

Fix Server CI database connection issues in Twitch EventHandler.
  apps/server/lib/server/services/twitch/event_handler.ex
Due: mix-format, mix-credo, mix-compile

Fix TypeScript ESLint warnings (replace any with unknown, fix unused variables).
  apps/overlays/src/components/animated-layer.tsx
  apps/overlays/src/components/layer-renderer.tsx
  apps/overlays/src/domains/alert-prioritization.ts
  packages/logger/src/index.ts
Due: eslint, prettier, typescript-check

Fix CI build failures - replace any types with unknown and add Dashboard tests.
  apps/dashboard/src/__tests__/setup.test.ts
  apps/overlays/src/components/animated-layer.tsx
  apps/overlays/src/components/layer-renderer.tsx
  apps/overlays/src/components/omnibar.tsx
  apps/overlays/src/components/omnibar/index.tsx
  apps/overlays/src/hooks/use-layer-orchestrator.tsx
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/overlays/src/providers/socket-provider.tsx
  apps/overlays/src/routes/takeover.tsx
  packages/logger/src/index.ts
  packages/shared/src/hooks/use-display.ts
  packages/shared/src/types/display.ts
  scripts/cache-emotes.ts
Due: eslint, prettier, typescript-check

Add comprehensive test suites for packages and fix orchestrator bug.
  apps/overlays/src/hooks/use-layer-orchestrator.test.ts
  apps/overlays/src/hooks/use-layer-orchestrator.tsx
  packages/logger/src/__tests__/config.test.ts
  packages/logger/src/__tests__/integration.test.ts
  packages/logger/src/config.ts
  packages/shared/src/__tests__/emote-repository.test.ts
  packages/shared/src/__tests__/utility-types.test.ts
Due: eslint, prettier, typescript-check

Fix ESLint warnings in test files.
  apps/overlays/src/hooks/use-layer-orchestrator.test.ts
  packages/logger/src/__tests__/config.test.ts
  packages/shared/src/__tests__/emote-repository.test.ts
Due: eslint, prettier, typescript-check

Fix Nurvus CI by migrating root config to server package.
  apps/server/config/config.exs
  config/config.exs
Due: mix-format, mix-credo, mix-compile

Formatting and Credo runs.
  apps/nurvus/.credo.exs
  apps/server/.credo.exs
  apps/server/config/config.exs
  apps/server/lib/server/external_call.ex
  apps/server/lib/server_web/controllers/context_controller.ex
  apps/server/lib/server_web/controllers/obs_controller.ex
  apps/server/lib/server_web/controllers/twitch_controller.ex
  apps/server/test/server_web/channels/stream_channel_test.exs
Due: mix-format, mix-credo, mix-compile

Shot myself in the foot.
  apps/server/.credo.exs
Due: mix-format, mix-credo, mix-compile

Fix StreamProducer test failures.
  apps/server/config/config.exs
  apps/server/lib/server/stream_producer.ex
  apps/server/test/server/stream_producer_test.exs
Due: mix-format, mix-credo, mix-compile

Update service configuration and add router tests.
  apps/nurvus/config/zelan.json
  apps/nurvus/test/nurvus/router_test.exs
  apps/phononmaser/src/main.py
  apps/phononmaser/src/service_config.py
  apps/seed/src/main.py
Due: prettier, mix-format, mix-credo, mix-compile

Formatting.
  apps/nurvus/test/nurvus/router_test.exs
Due: mix-format, mix-credo, mix-compile
