Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format-server, mix-format-nurvus, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General/Multi-language hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: '.*\.md$'
      - id: check-yaml
        exclude: '^\.github/.*\.yml$'
      - id: check-json
        exclude: '(tsconfig.*\.json$|\.vscode/.*\.json$)'
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: typescript-check
        name: typescript-check
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
        language: system
        files: '\.(ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

  # Elixir hooks
  - repo: local
    hooks:
      - id: mix-format-server
        name: mix format (server)
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '^apps/server/.*\.(ex|exs)$'
        pass_filenames: true

      - id: mix-format-nurvus
        name: mix format (nurvus)
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/nurvus && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '^apps/nurvus/.*\.(ex|exs)$'
        pass_filenames: true

      - id: mix-credo
        name: mix credo
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo; else echo "Skipping mix credo - Elixir not available"; fi'
        language: system
        files: '^apps/server/.*\.(ex|exs)$'
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        name: ruff lint
        files: '\.py$'
        args: [--fix]
      - id: ruff-format
        name: ruff format
        files: '\.py$'

  # Additional validation hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '2.15.0'

Use `oven/bun:latest`.
  apps/overlays/Dockerfile
Due: none

Remove frozen-lockfile option.
  apps/overlays/Dockerfile
Due: none

Include config-typescript directory and its package.json.
  apps/overlays/Dockerfile
Due: none

Add `saya` as an valid overlay host.
  apps/overlays/vite.config.ts
Due: eslint, prettier, typescript-check

Bump dependencies.
  apps/dashboard/package.json
  apps/overlays/package.json
  bun.lock
  package.json
  packages/logger/package.json
  packages/shared/package.json
Due: prettier

Include additional origins for websocket connection checks.
  apps/server/lib/server_web/endpoint.ex
Due: mix-format-server, mix-credo

Enhance WebSocket handling and connection management.
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/vite.config.ts
  apps/server/lib/server_web/endpoint.ex
  packages/shared/src/websocket/socket.ts
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix WebSocket handling issues and improve connection resilience.
  apps/dashboard/src/services/stream-service.tsx
  apps/server/lib/server_web/websocket_stats_tracker.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Standardize WebSocket heartbeat configuration across all services.
  apps/dashboard/src/services/stream-service.tsx
  apps/overlays/src/providers/socket-provider.tsx
  apps/overlays/src/routes/takeover.tsx
  packages/shared/src/websocket/constants.ts
  packages/shared/src/websocket/index.ts
  packages/shared/src/websocket/socket.ts
Due: eslint, prettier, typescript-check

Refine connection health and metrics on dashboard.
  apps/dashboard/src/routes/telemetry.tsx
  apps/overlays/src/routes/takeover.tsx
  apps/server/lib/server_web/channels/telemetry_channel.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Add createSignal import.
  apps/overlays/src/routes/takeover.tsx
Due: eslint, prettier, typescript-check

Better takeover debug information.
  apps/overlays/src/routes/takeover.tsx
Due: eslint, prettier, typescript-check

Refactor takeover channel management.
  apps/overlays/src/routes/takeover.tsx
Due: eslint, prettier, typescript-check

Update roadmap.md.
  handbook/05_future_work/roadmap.md
Due: prettier

Remove WebSocket wrapper abstractions in favor of direct Phoenix connections.
  apps/dashboard/src/components/connection-status.tsx
  apps/dashboard/src/components/connection-telemetry.tsx
  apps/dashboard/src/components/error-boundary.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/dashboard/src/components/websocket-inspector.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/dashboard/src/hooks/use-layer-state.tsx
  apps/dashboard/src/hooks/use-phoenix-channel.tsx
  apps/dashboard/src/hooks/use-stream-commands.tsx
  apps/dashboard/src/hooks/use-stream-queue.tsx
  apps/dashboard/src/routes/__root.tsx
  apps/dashboard/src/routes/telemetry.tsx
  apps/dashboard/src/services/phoenix-service.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/services/telemetry-service.tsx
  apps/dashboard/src/types/telemetry.ts
  apps/overlays/src/components/connection-indicator.tsx
  apps/overlays/src/debug/debug-interface.ts
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/overlays/src/providers/debug-provider.tsx
  apps/overlays/src/providers/socket-provider.tsx
  apps/overlays/src/routes/__root.tsx
  apps/overlays/src/routes/takeover.tsx
  apps/overlays/test/setup.ts
  apps/server/lib/server/application.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/websocket_stats_tracker.ex
  apps/server/test/server_web/channels/telemetry_channel_simple_test.exs
  apps/server/test/server_web/channels/telemetry_channel_test.exs
  apps/server/test/server_web/websocket_stats_tracker_test.exs
  packages/shared/package.json
  packages/shared/src/logger.ts
  packages/shared/src/phoenix-connection.ts
  packages/shared/src/websocket/constants.ts
  packages/shared/src/websocket/index.ts
  packages/shared/src/websocket/message-inspector.ts
  packages/shared/src/websocket/socket.ts
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix Button component reactivity and remove debug UI from takeover panel.
  apps/dashboard/src/components/takeover-panel.tsx
  apps/dashboard/src/components/ui/button.tsx
Due: eslint, prettier, typescript-check

Simplify takeover defaults.
  apps/dashboard/src/components/takeover-panel.tsx
  apps/overlays/src/routes/takeover.tsx
Due: eslint, prettier, typescript-check

Implement environment detection for telemetry filtering.
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/dashboard/src/services/telemetry-service.tsx
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
  packages/shared/src/environment.ts
  packages/shared/src/index.ts
  packages/shared/src/phoenix-connection.ts
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix service health URL configuration for Docker environments.
  apps/server/config/dev.exs
  apps/server/config/runtime.exs
Due: mix-format-server, mix-credo

Change gather_overlay_health function to remove default parameter.
  apps/server/lib/server_web/channels/telemetry_channel.ex
Due: mix-format-server, mix-credo

Add ServiceControls component.
  apps/dashboard/src/components/service-controls.tsx
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/server/lib/server_web/channels/services_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Update Nurvus host configuration to use variable for API calls.
  apps/server/lib/server_web/channels/services_channel.ex
Due: mix-format-server, mix-credo

Enhance logging configuration and health check setup for Nurvus management.
  apps/nurvus/config/zelan.json
  apps/nurvus/lib/nurvus/process_runner.ex
  apps/nurvus/mix.exs
  apps/phononmaser/src/health.py
  apps/phononmaser/src/logger.py
  apps/seed/src/health.py
  apps/seed/src/logger.py
Due: prettier, mix-format-nurvus

Store Nurvus process logs in XDG-approved location.
  apps/nurvus/config/zelan.json
  apps/nurvus/mix.exs
Due: prettier, mix-format-nurvus

Fix health check test to match actual endpoint behavior.
  apps/nurvus/mix.exs
  apps/nurvus/test/nurvus/router_test.exs
Due: mix-format-nurvus

Add missing pydantic-settings dependency to SEED service.
  apps/seed/pyproject.toml
Due: none

Fix SEED service crashes and improve macOS deployment support.
  apps/nurvus/deployment/macos/com.bryanveloso.nurvus.plist
  apps/nurvus/deployment/macos/install-launchagent.sh
  apps/nurvus/deployment/systemd/nurvus.service
  apps/nurvus/mix.exs
  apps/seed/src/main.py
  uv.lock
Due: mix-format-nurvus

Add dedicated health monitoring functionality.
  apps/server/lib/server/application.ex
  apps/server/lib/server/health/health_monitor_server.ex
  apps/server/lib/server/health/system_health.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
Due: mix-format-server, mix-credo

Fix documentation inconsistencies and update patterns.
  CLAUDE.md
  README.md
  apps/server/lib/server/cache.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
  handbook/00_README.md
Due: prettier, mix-format-server, mix-credo

Update documentation.
  CLAUDE.md
  apps/overlays/README.md
  handbook/00_README.md
  handbook/05_future_work/roadmap.md
Due: prettier

Fix documentation discrepancies and implement CORS security.
  CLAUDE.md
  apps/server/lib/server_web/endpoint.ex
  handbook/00_README.md
Due: prettier, mix-format-server, mix-credo

Implement OAuth token encryption with AES-256-GCM.
  apps/server/config/config.exs
  apps/server/config/test.exs
  apps/server/lib/server/application.ex
  apps/server/lib/server/oauth_token_manager.ex
  apps/server/lib/server/token_vault.ex
  apps/server/mix.exs
  apps/server/mix.lock
  apps/server/test/server/token_vault_test.exs
  scripts/generate_encryption_key.sh
Due: mix-format-server, mix-credo

Simplify security model and fix WebSocket connection storms.
  apps/server/lib/server_web/channels/user_socket.ex
  apps/server/lib/server_web/endpoint.ex
  apps/server/lib/server_web/plugs/rate_limiter.ex
  apps/server/lib/server_web/router.ex
  apps/server/lib/server_web/validators/input_validator.ex
  packages/shared-python/src/shared/websockets/client.py
Due: mix-format-server, mix-credo

Document authentication strategy for Tailscale-protected services.
  CLAUDE.md
  STANDARDS.md
Due: prettier

Add HTTP request timeouts to Twitch API client.
  apps/server/lib/server/services/twitch/api_client.ex
Due: mix-format-server, mix-credo

Refactor Twitch service into specialized modules.
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/health_checker.ex
  apps/server/lib/server/services/twitch/subscription_coordinator.ex
  apps/server/lib/server/services/twitch/token_manager.ex
Due: mix-format-server, mix-credo

Fix Phoenix security vulnerabilities and breaking bugs.
  apps/server/config/config.exs
  apps/server/config/runtime.exs
  apps/server/lib/server/application.ex
  apps/server/lib/server/config.ex
  apps/server/lib/server/oauth2_client.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
  apps/server/lib/server_web/endpoint.ex
  apps/server/lib/server_web/plugs/rate_limiter.ex
  apps/server/lib/server_web/router.ex
Due: mix-format-server, mix-credo

Optimize Phoenix backend performance (CYCLE 3).
  apps/server/lib/server/application.ex
  apps/server/lib/server/http_client.ex
  apps/server/lib/server/ironmon.ex
  apps/server/lib/server/services/twitch/api_client.ex
  apps/server/lib/server_web/channels/services_channel.ex
Due: mix-format-server, mix-credo

Refactor StreamProducer into modular components.
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server/stream_producer/interrupt_manager.ex
  apps/server/lib/server/stream_producer/ticker_rotation.ex
  apps/server/lib/server/stream_producer/types.ex
Due: mix-format-server, mix-credo
