Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format-server, mix-format-nurvus, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General/Multi-language hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: '.*\.md$'
      - id: check-yaml
        exclude: '^\.github/.*\.yml$'
      - id: check-json
        exclude: '(tsconfig.*\.json$|\.vscode/.*\.json$)'
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: typescript-check
        name: typescript-check
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
        language: system
        files: '\.(ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

  # Elixir hooks
  - repo: local
    hooks:
      - id: mix-format-server
        name: mix format (server)
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '^apps/server/.*\.(ex|exs)$'
        pass_filenames: true

      - id: mix-format-nurvus
        name: mix format (nurvus)
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/nurvus && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '^apps/nurvus/.*\.(ex|exs)$'
        pass_filenames: true

      - id: mix-credo
        name: mix credo
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo; else echo "Skipping mix credo - Elixir not available"; fi'
        language: system
        files: '^apps/server/.*\.(ex|exs)$'
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        name: ruff lint
        files: '\.py$'
        args: [--fix]
      - id: ruff-format
        name: ruff format
        files: '\.py$'

  # Additional validation hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '2.15.0'

Fix Event system reliability and remove DBTaskSupervisor.
  apps/server/lib/server/application.ex
  apps/server/lib/server/events/router.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/test/server/events/router_test.exs
  apps/server/test/server/services/twitch/event_handler_test.exs
  apps/server/test/server/task_concurrency_test.exs
Due: mix-format-server, mix-credo

Fix RouterTest setup to handle already_started TaskSupervisor.
  apps/server/lib/server/application.ex
  apps/server/test/server/events/router_test.exs
  apps/server/test/server/stream_producer_test.exs
  apps/server/test/server_web/channels/catch_all_handler_test.exs
  apps/server/test/server_web/channels/channel_catch_all_test.exs
  apps/server/test/support/channel_case.ex
  apps/server/test/support/channel_test_helper.ex
Due: mix-format-server, mix-credo

Fix the workflow after removing the critical test script.
  .github/workflows/ci-server.yml
Due: prettier

Implement HTTP health check polling in ProcessMonitor.
  apps/nurvus/lib/nurvus/process_manager.ex
  apps/nurvus/lib/nurvus/process_monitor.ex
  apps/nurvus/mix.exs
  apps/nurvus/test/nurvus/process_supervision_test.exs
Due: mix-format-nurvus

Auto-enable Rainwave service when credentials are present.
  apps/server/lib/server/services/rainwave/state.ex
Due: mix-format-server, mix-credo

Add structured logging for Rainwave event flow debugging.
  apps/overlays/src/routeTree.gen.ts
  apps/server/lib/server/services/rainwave.ex
  apps/server/lib/server_web/channels/overlay_channel.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Add catch-all handler to prevent CircuitBreakerServer crashes.
  apps/server/lib/server/circuit_breaker_server.ex
Due: mix-format-server, mix-credo

Remove circuit breaker usage where applicable.
  apps/server/lib/server/external_call.ex
  apps/server/lib/server/oauth2_client.ex
  apps/server/lib/server/oauth_service.ex
Due: mix-format-server, mix-credo

Fix OAuthService crash on :gun_up messages.
  apps/server/lib/server/oauth_service.ex
Due: mix-format-server, mix-credo

Fix OAuth token retrieval in subscription coordinator.
  apps/server/lib/server/services/twitch/subscription_coordinator.ex
Due: mix-format-server, mix-credo

Add detailed EventSub subscription logging.
  apps/server/lib/server/services/twitch/subscription_coordinator.ex
Due: mix-format-server, mix-credo

Add comprehensive EventSub notification debugging.
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/event_handler.ex
Due: mix-format-server, mix-credo

Add ActivityLog debugging to identify storage failures.
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server_web/channels/dashboard_channel.ex
Due: mix-format-server, mix-credo

Fix ActivityLog storage by calling complete event processing pipeline.
  apps/server/lib/server/services/twitch.ex
Due: mix-format-server, mix-credo

Fix Twitch OAuth token refresh validation to handle missing expires_in field.
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/server/lib/server/services/twitch/token_manager.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Possible error using Tailscale hostnames... again.
  apps/dashboard/src/services/phoenix-service.tsx
Due: eslint, prettier, typescript-check

Refactor logging in ActivityLog and improve error handling in async storage tasks.
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server/services/twitch/token_manager.ex
Due: mix-format-server, mix-credo

Fix dashboard activity log to handle flat event format.
  apps/dashboard/src/components/activity-log-panel.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
Due: eslint, prettier, typescript-check

Clean up TypeScript warnings and console debug statements.
  apps/dashboard/src/components/service-controls.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/dashboard/src/routes/oauth.tsx
Due: eslint, prettier, typescript-check

Complete event architecture cleanup and simplification.
  apps/server/lib/server/application.ex
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/events.ex
  apps/server/lib/server/events/batch_collector.ex
  apps/server/lib/server/events/event.ex
  apps/server/lib/server/events/router.ex
  apps/server/lib/server/events/transformer.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/channels/overlay_channel.ex
  apps/server/test/server/events/activity_log_integration_test.exs
  apps/server/test/server/events/batch_collector_test.exs
  apps/server/test/server/events/event_test.exs
  apps/server/test/server/events/router_test.exs
  apps/server/test/server/events/transformer_test.exs
  apps/server/test/server/events_test.exs
  apps/server/test/server/stream_producer_test.exs
  apps/server/test/server_web/channels/catch_all_handler_test.exs
  apps/server/test/server_web/channels/channel_catch_all_test.exs
Due: mix-format-server, mix-credo

Fix critical data loss vulnerability and code quality issues.
  apps/server/lib/server/events.ex
  apps/server/lib/server/events/validation.ex
  apps/server/lib/server/performance.ex
  apps/server/lib/server/services/ironmon_tcp.ex
  apps/server/lib/server/services/rainwave.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server/services/twitch/message_router.ex
  apps/server/lib/server_web/channels/dashboard_channel.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/channels/overlay_channel.ex
  apps/server/lib/server_web/controllers/twitch_controller.ex
  apps/server/test/server/events/validation_test.exs
  apps/server/test/server/events_test.exs
  apps/server/test/server/services/twitch/event_handler_test.exs
  apps/server/test/server/services/twitch/message_router_test.exs
  apps/server/test/server_web/channels/catch_all_handler_test.exs
  apps/server/test/server_web/channels/channel_catch_all_test.exs
  apps/server/test/server_web/channels/events_channel_topic_filtering_test.exs
Due: mix-format-server, mix-credo

Bump Rust dependencies.
  apps/dashboard/src-tauri/Cargo.lock
  apps/dashboard/src-tauri/Cargo.toml
Due: none

Complete event architecture cleanup and simplification.
  apps/server/lib/server/activity_log.ex
  apps/server/lib/server/boundary_converter.ex
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/events.ex
  apps/server/lib/server/events/validation.ex
  apps/server/lib/server/ironmon/run_tracker.ex
  apps/server/lib/server/performance.ex
  apps/server/lib/server/services/ironmon_tcp.ex
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/event_handler.ex
  apps/server/lib/server/services/obs/scene_manager.ex
  apps/server/lib/server/services/obs/stats_collector.ex
  apps/server/lib/server/services/obs/stream_manager.ex
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/message_router.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/channels/overlay_channel.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/test/server/architectural_validation_test.exs
  apps/server/test/server/event_system_integration_test.exs
  apps/server/test/server/event_system_unification_complete_test.exs
  apps/server/test/server/event_unification_proof_complete_test.exs
  apps/server/test/server/event_unification_proof_test.exs
  apps/server/test/server/legacy_pattern_detection_test.exs
  apps/server/test/server/obs_events_unified_test.exs
  apps/server/test/server/obs_service_compliance_test.exs
  apps/server/test/server/services/obs/event_handler_unified_test.exs
  apps/server/test/server/services/twitch/message_router_test.exs
  apps/server/test/server/stream_integration_test.exs
Due: mix-format-server, mix-credo

Fix critical runtime errors from deployment.
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/events/validation.ex
Due: mix-format-server, mix-credo

Fix validation error formatting crash with complex type specs.
  apps/server/lib/server/events/validation.ex
  apps/server/test/server/events/validation_test.exs
Due: mix-format-server, mix-credo

Fix StreamProducer to convert atoms to strings at event boundary.
  apps/server/lib/server/stream_producer.ex
Due: mix-format-server, mix-credo

Fix StreamProducer ticker_rotation validation by handling enriched maps.
  apps/server/lib/server/stream_producer.ex
Due: mix-format-server, mix-credo

Prevent unnecessary reconnections by checking connection state before triggering WebSocket connection.
  apps/server/lib/server/services/twitch/token_manager.ex
Due: mix-format-server, mix-credo

Optimize transcription analytics with TimescaleDB aggregations.
  apps/server/config/config.exs
  apps/server/config/prod.exs
  apps/server/lib/server/health/system_health.ex
  apps/server/lib/server/transcription.ex
  apps/server/lib/server/transcription/analytics.ex
  apps/server/lib/server/transcription/broadcaster.ex
  apps/server/lib/server_web/channels/services_channel.ex
  apps/server/lib/server_web/channels/transcription_channel.ex
  apps/server/test/server/legacy_pattern_detection_test.exs
  apps/server/test/server/obs_service_compliance_test.exs
  apps/server/test/server/transcription/analytics_test.exs
  apps/server/test/server/transcription/broadcaster_test.exs
  apps/server/test/server_web/channels/services_channel_transcription_test.exs
Due: mix-format-server, mix-credo

Add Transcription Analytics component and integrate into Telemetry Drawer; update service status to include transcription data.
  apps/dashboard/src/components/activity-log-panel.tsx
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/dashboard/src/components/transcription-analytics.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/services/service-status-service.tsx
Due: eslint, prettier, typescript-check

Fix service status format inconsistency in overlay channel.
  apps/server/lib/server_web/channels/overlay_channel.ex
Due: mix-format-server, mix-credo

Add debug logging to investigate Stream Info validation error.
  apps/dashboard/src/hooks/use-phoenix-channel.tsx
  apps/server/lib/server_web/channels/stream_channel.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Add IO.inspect logging to trace Twitch API channel info response flow.
  apps/server/lib/server_web/channels/stream_channel.ex
Due: mix-format-server, mix-credo

Fix Stream Info validation by making branded_content optional in ChannelInfo interface.
  apps/dashboard/src/components/stream-information.tsx
  apps/server/lib/server_web/channels/stream_channel.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix compiler warnings.
  apps/server/lib/server/services/twitch/subscription_coordinator.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/test/server/architectural_validation_test.exs
  apps/server/test/server/legacy_pattern_detection_test.exs
  apps/server/test/server_web/websocket_origin_test.exs
Due: mix-format-server, mix-credo

Add P0 and P1 test coverage implementation.
  apps/overlays/src/__tests__/websocket-integration.test.ts
  apps/overlays/src/hooks/__tests__/use-layer-orchestrator-memory.test.ts
  apps/overlays/src/hooks/__tests__/use-stream-channel.test.ts
  apps/overlays/src/hooks/__tests__/websocket-resilience.test.ts
  apps/phononmaser/tests/test_audio_buffer_memory_demo.py
  apps/phononmaser/tests/test_audio_buffer_memory_management.py
  apps/phononmaser/tests/test_websocket_resilience.py
  apps/seed/tests/test_websocket_resilience.py
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/test/server/event_system_validation_test.exs
  apps/server/test/server/p0_event_validation_test.exs
  apps/server/test/server/test_simple_validation.exs
  packages/shared-python/tests/test_base_websocket_client_resilience.py
  packages/shared-python/tests/test_mock_websocket_connection.py
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix test compilation errors and linting issues.
  apps/overlays/src/__tests__/websocket-integration.test.ts
  apps/overlays/src/hooks/__tests__/use-layer-orchestrator-memory.test.ts
  apps/overlays/src/hooks/__tests__/use-stream-channel.test.ts
  apps/overlays/src/hooks/__tests__/websocket-resilience.test.ts
  apps/phononmaser/tests/test_audio_buffer_memory_demo.py
  apps/phononmaser/tests/test_audio_buffer_memory_management.py
  apps/phononmaser/tests/test_websocket_resilience.py
  apps/seed/tests/test_websocket_resilience.py
  apps/server/test/server/event_system_validation_test.exs
  apps/server/test/server/p0_event_validation_test.exs
  apps/server/test/server/test_simple_validation.exs
  packages/shared-python/tests/test_base_websocket_client_resilience.py
  packages/shared-python/tests/test_mock_websocket_connection.py
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Remove the p0.
  apps/server/test/server/event_validation_test.exs
Due: mix-format-server, mix-credo

Add correlation engine for matching chat to transcriptions.
  apps/server/lib/server/application.ex
  apps/server/lib/server/correlation/correlation.ex
  apps/server/lib/server/correlation/engine.ex
  apps/server/lib/server/correlation/monitor.ex
  apps/server/lib/server/correlation/repository.ex
  apps/server/lib/server/correlation/sliding_buffer.ex
  apps/server/lib/server/correlation/time_buffer.ex
  apps/server/lib/server_web/channels/correlation_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
  apps/server/priv/repo/migrations/20250817013719_create_correlations_table_simple.exs
  apps/server/test/live_correlation_test.exs
  apps/server/test/server/correlation/buffer_benchmark_test.exs
  apps/server/test/server/correlation/engine_test.exs
  apps/server/test/server/correlation/monitor_test.exs
  apps/server/test/server/correlation/repository_retry_test.exs
  apps/server/test/server/correlation/time_buffer_test.exs
  apps/server/test/server/task_supervisor_test.exs
  apps/server/test/server_web/channels/correlation_channel_test.exs
Due: mix-format-server, mix-credo

Fix NaiveDateTime handling in transcription analytics.
  apps/server/lib/server/transcription/analytics.ex
Due: mix-format-server, mix-credo
