Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

eslint:
  name: eslint
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
  language: system
  pass_filenames: false

mix-format:
  name: mix format
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
  language: system
  pass_filenames: false

mix-credo:
  name: mix credo
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo --strict; else echo "Skipping mix credo - Elixir not available"; fi'
  language: system
  pass_filenames: false

mix-compile:
  name: mix compile
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix compile --warnings-as-errors; else echo "Skipping mix compile - Elixir not available"; fi'
  language: system
  pass_filenames: false

Try to fix this JSON encoding error in Nurvus.
  apps/nurvus/.credo.exs
  apps/nurvus/lib/nurvus/router.ex
  apps/nurvus/test/nurvus/router_test.exs
Due: mix-format, mix-credo, mix-compile

Fix Nurvus config path - use processes.json instead of config/processes.json.
  apps/nurvus/config/runtime.exs
Due: mix-format, mix-credo, mix-compile

Fix Nurvus CI cache keys to include git SHA for proper source rebuilds.
  .github/workflows/ci-nurvus.yml
Due: prettier

Fix Server CI cache key to include git SHA for proper source rebuilds.
  .github/workflows/ci-server.yml
Due: prettier

Remove Nurvus CI cache restore-keys to test cache fallback diagnosis.
  .github/workflows/ci-nurvus.yml
Due: prettier

Fix Nurvus JSON encoding error - use Jason instead of undefined JSON module.
  apps/nurvus/lib/nurvus/router.ex
  apps/nurvus/mix.exs
Due: mix-format, mix-credo, mix-compile

Forgot to format, bleh.
  apps/nurvus/lib/nurvus/router.ex
Due: mix-format, mix-credo, mix-compile

TDD rebuild: Fix Nurvus JSON encoding with clean router implementation.
  apps/nurvus/lib/nurvus/router.ex
  apps/nurvus/test/nurvus/router_test.exs
Due: mix-format, mix-credo, mix-compile

Add essential routes for functional Nurvus process management.
  apps/nurvus/lib/nurvus/router.ex
Due: mix-format, mix-credo, mix-compile

Fix rolling release tag update by matching VDF workflow pattern.
  .github/workflows/ci-nurvus.yml
Due: prettier

Resolve Nurvus JSON encoding crash and implement CalVer versioning.
  .github/workflows/ci-nurvus.yml
  CLAUDE.md
  apps/nurvus/lib/mix/tasks/increment_version.ex
  apps/nurvus/lib/nurvus/router.ex
  apps/nurvus/mix.exs
  apps/nurvus/test/nurvus/router_test.exs
Due: prettier, mix-format, mix-credo, mix-compile

Improve port closure handling.
  .tool-versions
  apps/nurvus/lib/nurvus/process_runner.ex
  apps/nurvus/mix.exs
Due: mix-format, mix-credo, mix-compile

Resolve Phoenix WebSocket serialization and channel join issues.
  apps/nurvus/config/zelan.json
  apps/nurvus/lib/nurvus/process_runner.ex
  apps/seed/src/context_client.py
  apps/seed/src/main.py
  apps/seed/src/websocket_client.py
  apps/server/lib/server_web/channels/transcription_channel.ex
Due: prettier, mix-format, mix-credo, mix-compile

Fix OBS WebSocket connection and Tailscale DNS resolution in Docker.
  docker-compose.yml
Due: prettier

Fix two unformatted Python files.
  apps/seed/src/main.py
  apps/seed/src/websocket_client.py
Due: none

Tailscale has failed me.
  apps/server/config/dev.exs
  apps/server/config/runtime.exs
  docker-compose.yml
Due: prettier, mix-format, mix-credo, mix-compile

Fix WebSocket connection path retrieval in handle_connection method.
  apps/phononmaser/src/websocket_server.py
Due: none

Make Nurvus XDG compliant.
  apps/nurvus/config/runtime.exs
  apps/nurvus/lib/nurvus/config.ex
  apps/nurvus/mix.exs
Due: mix-format, mix-credo, mix-compile

Enhance logging.
  apps/phononmaser/requirements.txt
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/health.py
  apps/phononmaser/src/logger.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/server_client.py
  apps/phononmaser/src/service_config.py
  apps/phononmaser/src/websocket_server.py
  apps/seed/main.py
  apps/seed/requirements.txt
  apps/seed/src/context_client.py
  apps/seed/src/correlator.py
  apps/seed/src/dataset_exporter.py
  apps/seed/src/health.py
  apps/seed/src/lms_client.py
  apps/seed/src/logger.py
  apps/seed/src/main.py
  apps/seed/src/service_config.py
  apps/seed/src/training_cli.py
  apps/seed/src/training_pipeline.py
  apps/seed/src/transcription_client.py
  apps/seed/src/websocket_client.py
  apps/seed/start.py
Due: none

Add macOS setup script and update deployment instructions.
  .github/workflows/ci-nurvus.yml
  apps/nurvus/DEPLOYMENT.md
  apps/nurvus/README.md
  apps/nurvus/scripts/setup-macos.sh
Due: prettier

Refactor logger imports and improve binary test timeout configuration.
  apps/nurvus/scripts/setup-macos.sh
  apps/phononmaser/src/logger.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/service_config.py
  apps/seed/src/correlator.py
  apps/seed/src/logger.py
  apps/seed/src/main.py
  apps/seed/src/service_config.py
Due: none

Nurvus Builds (#36)
  .github/workflows/ci-nurvus.yml
  apps/nurvus/DEPLOYMENT.md
  apps/nurvus/README.md
  apps/nurvus/config/runtime.exs
  apps/nurvus/lib/nurvus/config.ex
  apps/nurvus/mix.exs
  apps/nurvus/scripts/setup-macos.sh
  apps/phononmaser/requirements.txt
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/health.py
  apps/phononmaser/src/logger.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/server_client.py
  apps/phononmaser/src/service_config.py
  apps/phononmaser/src/websocket_server.py
  apps/seed/main.py
  apps/seed/requirements.txt
  apps/seed/src/context_client.py
  apps/seed/src/correlator.py
  apps/seed/src/dataset_exporter.py
  apps/seed/src/health.py
  apps/seed/src/lms_client.py
  apps/seed/src/logger.py
  apps/seed/src/main.py
  apps/seed/src/service_config.py
  apps/seed/src/training_cli.py
  apps/seed/src/training_pipeline.py
  apps/seed/src/transcription_client.py
  apps/seed/src/websocket_client.py
  apps/seed/start.py
Due: prettier, mix-format, mix-credo, mix-compile

Add structlog dependency to pyproject.toml.
  apps/phononmaser/pyproject.toml
  apps/phononmaser/uv.lock
  apps/seed/pyproject.toml
  apps/seed/uv.lock
Due: none

Refactor binary test function to verify executable status instead of running the binary.
  apps/nurvus/scripts/setup-macos.sh
Due: none

Enhance process management with improved logging and graceful shutdown handling.
  apps/nurvus/lib/nurvus/process_manager.ex
  apps/nurvus/lib/nurvus/process_runner.ex
  apps/nurvus/lib/nurvus/process_supervisor.ex
  apps/nurvus/mix.exs
  apps/nurvus/test/nurvus/process_supervision_test.exs
Due: mix-format, mix-credo, mix-compile

Improve port conflict test to handle immediate and delayed failure scenarios.
  apps/nurvus/test/nurvus/process_supervision_test.exs
Due: mix-format, mix-credo, mix-compile

Credo compliance.
  apps/nurvus/lib/nurvus/process_manager.ex
  apps/nurvus/lib/nurvus/process_runner.ex
Due: mix-format, mix-credo, mix-compile

Fix EventsChannel FunctionClauseError for twitch_connection_changed.
  apps/server/lib/server_web/channels/events_channel.ex
Due: mix-format, mix-credo, mix-compile

Point Phononmaser and SEED at the production server.
  apps/phononmaser/src/main.py
  apps/seed/src/main.py
  apps/seed/src/transcription_client.py
Due: none

Enhance Twitch services with improved logging for token validation, event processing, and subscription management; log missing chat scopes as errors to prevent data loss.
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server/services/twitch/eventsub_manager.ex
Due: mix-format, mix-credo, mix-compile

Fix scope handling in OAuth2 client and Twitch services; ensure compatibility with both string and atom keys for token info.
  apps/server/lib/server/oauth2_client.ex
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/event_handler.ex
Due: mix-format, mix-credo, mix-compile

Enhance logging configuration in dev and prod environments.
  apps/server/config/dev.exs
  apps/server/config/prod.exs
Due: mix-format, mix-credo, mix-compile

Follow Twitch's API signature.
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/services/twitch/event_handler.ex
Due: mix-format, mix-credo, mix-compile

Fix broken emote stats handling.
  apps/server/lib/server/content_aggregator.ex
Due: mix-format, mix-credo, mix-compile

Stop yelling at me logs.
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/event_handler.ex
Due: mix-format, mix-credo, mix-compile

Update OBS WebSocket URL configuration to use environment variable.
  apps/server/config/runtime.exs
Due: mix-format, mix-credo, mix-compile

Fix username field in emote event data structure.
  apps/server/lib/server/stream_producer.ex
Due: mix-format, mix-credo, mix-compile

Implement TDD fix for transcription timestamp bug.
  apps/phononmaser/package.json
  apps/phononmaser/pyproject.toml
  apps/phononmaser/src/__main__.py
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/health.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/server_client.py
  apps/phononmaser/src/service_config.py
  apps/phononmaser/src/timestamp_utils.py
  apps/phononmaser/src/websocket_server.py
  apps/phononmaser/tests/test_timestamp_conversion.py
  apps/phononmaser/tests/test_transcription_timestamp.py
  apps/phononmaser/uv.lock
  apps/seed/package.json
  pytest.ini
  turbo.json
Due: prettier

Complete TDD PHASE 2.2: AdaptiveChunker with VAD-guided speech boundaries.
  apps/phononmaser/src/adaptive_chunker.py
  apps/phononmaser/src/microphone_profiles.py
  apps/phononmaser/src/sliding_window_buffer.py
  apps/phononmaser/tests/analyze_voice_characteristics.py
  apps/phononmaser/tests/test_adaptive_chunking.py
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  typescript-check: any of: \.(ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  mix-format: any of: \.(ex|exs)$
  mix-credo: any of: \.(ex|exs)$
  mix-compile: any of: \.(ex|exs)$
