Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General/Multi-language hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: '.*\.md$'
      - id: check-yaml
        exclude: '^\.github/.*\.yml$'
      - id: check-json
        exclude: '(tsconfig.*\.json$|\.vscode/.*\.json$)'
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: typescript-check
        name: typescript-check
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
        language: system
        files: '\.(ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

  # Elixir hooks
  - repo: local
    hooks:
      - id: mix-format
        name: mix format
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-credo
        name: mix credo
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo --strict; else echo "Skipping mix credo - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-compile
        name: mix compile
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix compile --warnings-as-errors; else echo "Skipping mix compile - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        files: '\.py$'

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        files: '\.py$'

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        files: '\.py$'
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        files: '\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: [types-requests]

  # Additional validation hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '2.15.0'

Implement AI companion memory foundation for community-centric stream analysis.
  apps/analysis/src/correlator.py
  apps/analysis/src/events.py
  apps/analysis/src/websocket_client.py
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server_web/channels/events_channel.ex
Due: mix-format, mix-credo, mix-compile

Add migration to create contexts table.
  apps/server/priv/repo/migrations/20250704165437_create_contexts_table.exs
Due: mix-format, mix-credo, mix-compile

Implement code review fixes for TimescaleDB integration.
  apps/seed/src/context_client.py
  apps/seed/src/correlator.py
  apps/seed/src/main.py
  apps/server/lib/server/context.ex
  apps/server/lib/server/context/context.ex
  apps/server/lib/server_web/controllers/context_controller.ex
  apps/server/lib/server_web/router.ex
  apps/server/lib/server_web/schemas.ex
  apps/server/priv/repo/migrations/20250704165437_create_contexts_table.exs
Due: mix-format, mix-credo, mix-compile

Rename Analysis app to SEED and implement contexts schema.
  apps/analysis/README.md
  apps/nurvus/README.md
  apps/nurvus/config/zelan.json
  apps/seed/.env.example
  apps/seed/.python-version
  apps/seed/README.md
  apps/seed/main.py
  apps/seed/pyproject.toml
  apps/seed/requirements.txt
  apps/seed/src/__init__.py
  apps/seed/src/__main__.py
  apps/seed/src/correlator.py
  apps/seed/src/events.py
  apps/seed/src/health.py
  apps/seed/src/lms_client.py
  apps/seed/src/main.py
  apps/seed/src/service_config.py
  apps/seed/src/transcription_client.py
  apps/seed/src/websocket_client.py
  apps/seed/start.py
  apps/seed/tests/__init__.py
  apps/seed/uv.lock
  apps/server/lib/server_web/controllers/transcription_controller.ex
  package.json
  scripts/setup-python-services.sh
Due: prettier, mix-format, mix-credo, mix-compile

Implement flexible data capture architecture for training foundation.
  apps/seed/src/correlator.py
  apps/seed/src/events.py
  apps/seed/src/lms_client.py
  apps/seed/src/main.py
Due: none

Apply comprehensive code review fixes for Python best practices.
  apps/seed/src/correlator.py
  apps/seed/src/events.py
  apps/seed/src/lms_client.py
Due: none

Implement comprehensive AI training data pipeline for SEED.
  apps/seed/README.md
  apps/seed/src/__init__.py
  apps/seed/src/dataset_exporter.py
  apps/seed/src/training_cli.py
  apps/seed/src/training_pipeline.py
Due: prettier

Remove unused handle_info function.
  apps/server/lib/server_web/channels/events_channel.ex
Due: mix-format, mix-credo, mix-compile

Update SEED configuration in Nurvus for production deployment.
  apps/nurvus/config/zelan.json
Due: prettier

Fix Elixir code style issues identified by Credo.
  apps/server/lib/server/context.ex
  apps/server/lib/server/context/context.ex
  apps/server/lib/server/oauth_token_manager.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/controllers/context_controller.ex
  apps/server/lib/server_web/schemas.ex
Due: mix-format, mix-credo, mix-compile

Resolve merge conflicts with main branch.
  ARCHITECTURE.md
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/priv/repo/migrations/20250704165437_create_contexts_table.exs
Due: prettier, mix-format, mix-credo, mix-compile

Update ExUnit configuration for Elixir 1.18 compatibility.
  apps/nurvus/test/test_helper.exs
  apps/server/test/test_helper.exs
Due: mix-format, mix-credo, mix-compile

Remove duplicate twitch_event handler causing compilation error.
  apps/server/lib/server_web/channels/events_channel.ex
Due: mix-format, mix-credo, mix-compile

Specify `uv` over `pip`.
  docs/PRE_COMMIT_SETUP.md
  scripts/setup-pre-commit.sh
Due: prettier

Added missing ValidationErrorResponse schema.
  apps/server/lib/server_web/schemas.ex
Due: mix-format, mix-credo, mix-compile

Really replace `pip` with `uv`.
  pyproject.toml
  requirements-dev.txt
  scripts/setup-pre-commit.sh
Due: none

Implement omnibar revival infrastructure.
  apps/overlays/src/App.tsx
  apps/overlays/src/components/Omnibar.tsx
  apps/overlays/src/hooks/useStreamChannel.tsx
  apps/server/lib/server/application.ex
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Resolve critical reliability issues in omnibar server.
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
Due: mix-format, mix-credo, mix-compile

Refactor initial state handling in StreamChannel to improve error management and ensure default state is sent on failure.
  apps/server/lib/server_web/channels/stream_channel.ex
Due: mix-format, mix-credo, mix-compile

Vestiges.
  bun.lock
  eslint.config.mjs
Due: none

Folder layout and adding path aliases.
  apps/overlays/package.json
  apps/overlays/src/components/omnibar/index.tsx
  apps/overlays/src/routeTree.gen.ts
  apps/overlays/src/routes/index.tsx
  apps/overlays/src/routes/omnibar.tsx
  apps/overlays/src/routes/shows/ironmon/full.tsx
  apps/overlays/tsconfig.app.json
  apps/overlays/vite.config.ts
  bun.lock
Due: eslint, prettier, typescript-check

Bump dependencies.
  apps/overlays/package.json
  bun.lock
Due: prettier

Implement state persistence in StreamProducer.
  apps/server/lib/server/stream_producer.ex
Due: mix-format, mix-credo, mix-compile

Let the server bind to 0.0.0.0.
  apps/server/config/dev.exs
Due: mix-format, mix-credo, mix-compile

Allow connections to Zelan for remote dev.
  apps/overlays/vite.config.ts
Due: eslint, prettier, typescript-check

Update WebSocket server URL to use 'ws://zelan:7175/socket' and enhance theme variables in styles.
  apps/overlays/src/components/omnibar/index.tsx
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/overlays/src/routes/__root.tsx
  apps/overlays/src/routes/index.tsx
  apps/overlays/src/routes/omnibar.tsx
  apps/overlays/src/styles.css
Due: eslint, prettier, typescript-check

Use Phoenix's library to access its channels.
  apps/overlays/package.json
  apps/overlays/src/components/omnibar/index.tsx
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/overlays/src/providers/socket-provider.tsx
  apps/overlays/src/routes/__root.tsx
  apps/overlays/src/routes/index.tsx
  apps/overlays/src/routes/omnibar.tsx
  bun.lock
Due: eslint, prettier, typescript-check

Fix CI build failures.
  apps/overlays/src/components/omnibar/index.tsx
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Add EventSub webhook endpoint for CLI testing in TwitchController.
  apps/server/lib/server_web/controllers/twitch_controller.ex
  apps/server/lib/server_web/router.ex
Due: mix-format, mix-credo, mix-compile

Enhance Twitch event processing with input validation and error handling; add StreamProducer tests and configuration settings.
  apps/server/lib/server/services/twitch/event_handler.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/test/server/stream_producer_test.exs
  config/config.exs
Due: mix-format, mix-credo, mix-compile

Fix Copilot nitpicks.
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  config/config.exs
Due: mix-format, mix-credo, mix-compile

Prepping for new knowledge.
  apps/overlays/package.json
  apps/overlays/src/components/omnibar/index.tsx
  bun.lock
  package.json
Due: eslint, prettier, typescript-check

First pass at orchestrated layer rendering.
  apps/overlays/src/components/animated-layer.tsx
  apps/overlays/src/components/layer-renderer.tsx
  apps/overlays/src/components/omnibar.tsx
  apps/overlays/src/config/layer-mappings.ts
  apps/overlays/src/hooks/use-layer-orchestrator.tsx
Due: eslint, prettier, typescript-check

Implement Layer State Monitoring.
  apps/dashboard/DEBUG_COMMANDS.md
  apps/dashboard/src/components/layer-state-monitor/index.tsx
  apps/dashboard/src/hooks/use-layer-state.tsx
  apps/dashboard/src/providers/socket-provider.tsx
  apps/dashboard/src/routes/index.tsx
  apps/server/lib/server_web/channels/stream_channel.ex
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile
