Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General/Multi-language hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.md$'
      - id: end-of-file-fixer
        exclude: '.*\.md$'
      - id: check-yaml
        exclude: '^\.github/.*\.yml$'
      - id: check-json
        exclude: '(tsconfig.*\.json$|\.vscode/.*\.json$)'
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
        language: system
        files: '\.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

      - id: typescript-check
        name: typescript-check
        entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
        language: system
        files: '\.(ts|tsx)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'
        pass_filenames: false

  # Elixir hooks
  - repo: local
    hooks:
      - id: mix-format
        name: mix format
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-credo
        name: mix credo
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo --strict; else echo "Skipping mix credo - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

      - id: mix-compile
        name: mix compile
        entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix compile --warnings-as-errors; else echo "Skipping mix compile - Elixir not available"; fi'
        language: system
        files: '\.(ex|exs)$'
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        files: '\.py$'

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        files: '\.py$'

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        files: '\.py$'
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        files: '\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: [types-requests]

  # Additional validation hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(md|yml|yaml)$'
        exclude: '^(node_modules|dist|build|coverage|\.turbo)/.*$'

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '2.15.0'

Add WebSocket client resilience tests.
  packages/shared-python/tests/__init__.py
  packages/shared-python/tests/test_resilient_websocket_client.py
Due: none

Commit overlay "handbook" stuff.
  handbook/06_overlays/css_organization_guide.md
  handbook/06_overlays/directory_structure.md
  handbook/06_overlays/feature_placement_guide.md
  handbook/06_overlays/layer_mappings.md
  handbook/06_overlays/layer_orchestrator_guide.md
  handbook/06_overlays/obs_integration_guide.md
  handbook/06_overlays/omnibar_guide.md
  handbook/06_overlays/omnibar_testing.md
  handbook/06_overlays/phoenix_channels_guide.md
  handbook/06_overlays/route_component_decisions.md
Due: prettier

Move layer mappings from frontend to server.
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/types/stream.ts
  apps/overlays/src/components/omnibar.tsx
  apps/overlays/src/config/layer-mappings.ts
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/server/lib/server/layer_mapping.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/overlay_channel.ex
  apps/server/test/server/layer_mapping_test.exs
  handbook/02_architecture/system_overviews/event_to_layer_mapping.md
  handbook/06_overlays/layer_mappings.md
  handbook/06_overlays/layer_orchestrator_guide.md
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Fix Nurvus CI Credo violations.
  apps/nurvus/lib/nurvus/cli.ex
  apps/nurvus/lib/nurvus/process_runner.ex
  apps/nurvus/mix.exs
Due: mix-format, mix-credo, mix-compile

Fix pre-commit Credo hook configuration.
  .pre-commit-config.yaml
Due: prettier

Fix CI failures across TypeScript and Server.
  apps/dashboard/src/services/stream-service.tsx
  apps/server/lib/server/config.ex
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Integrate Twitch Creator Goals API for stream goals tracking.
  apps/server/lib/server/application.ex
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/services/twitch/api_client.ex
  apps/server/lib/server/stream_producer.ex
Due: mix-format, mix-credo, mix-compile

Fix all Credo violations blocking commits.
  apps/server/.credo.exs
  apps/server/lib/server/services/ironmon_tcp.ex
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/transcription/validation.ex
  apps/server/lib/server_web/channels/transcription_channel.ex
  apps/server/test/server/services/twitch_test.exs
  apps/server/test/server_web/channels/transcription_channel_submit_test.exs
Due: mix-format, mix-credo, mix-compile

Fix compile errors from Credo refactoring.
  apps/server/lib/server/services/ironmon_tcp.ex
  apps/server/lib/server/services/twitch/api_client.ex
Due: mix-format, mix-credo, mix-compile

Fix module attribute compile error in ironmon_tcp.
  apps/server/lib/server/services/ironmon_tcp.ex
Due: mix-format, mix-credo, mix-compile

Fix missing parentheses in validate_scopes call.
  apps/server/lib/server/services/twitch/api_client.ex
Due: mix-format, mix-credo, mix-compile

Add EventSub support for real-time Creator Goals updates.
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/services/twitch/event_handler.ex
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Implement WebSocket resilience patterns for Python services.
  CLAUDE.md
  apps/phononmaser/src/health.py
  apps/phononmaser/src/main.py
  apps/seed/src/health.py
  apps/seed/src/transcription_client.py
Due: prettier

Replace frontend WebSocket with resilient implementation.
  apps/dashboard/src/services/stream-service.tsx
  apps/overlays/src/components/connection-indicator.tsx
  apps/overlays/src/providers/socket-provider.tsx
  apps/overlays/src/routes/__root.tsx
  bun.lock
  docs/websocket-resilience.md
  packages/shared/package.json
  packages/shared/src/websocket/index.ts
  packages/shared/src/websocket/socket.ts
Due: eslint, prettier, typescript-check

Fix OAuth token format to return full map instead of string.
  apps/server/lib/server/oauth_token_manager.ex
  apps/server/lib/server/services/twitch/api_client.ex
  apps/server/test/server/oauth_token_manager_test.exs
Due: mix-format, mix-credo, mix-compile

Refactor omnibar component for cleaner abstraction and DX.
  apps/dashboard/src/services/stream-service.tsx
  apps/overlays/src/components/README.md
  apps/overlays/src/components/connection-indicator.tsx
  apps/overlays/src/components/omnibar-legacy.tsx
  apps/overlays/src/components/omnibar.tsx
  apps/overlays/src/components/primitives/connection-indicator.tsx
  apps/overlays/src/components/primitives/omnibar-debug.tsx
  apps/overlays/src/components/primitives/omnibar-layer.tsx
  apps/overlays/src/components/primitives/omnibar-root.tsx
  apps/overlays/src/hooks/use-omnibar.tsx
  apps/overlays/src/providers/socket-provider.tsx
  apps/overlays/src/styles/animations.css
  apps/overlays/src/styles/layers.css
  docs/websocket-resilience.md
  handbook/05_future_work/roadmap.md
  packages/shared/src/websocket/index.ts
  packages/shared/src/websocket/socket.ts
Due: eslint, prettier, typescript-check

Fix critical bugs: OBS WebSocket v5 protocol and OAuth token format.
  apps/overlays/src/providers/socket-provider.tsx
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/protocol.ex
  apps/server/lib/server/services/twitch/eventsub_manager.ex
  apps/server/test/server/services/obs/connection_test.exs
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Enable and fix 36 skipped OBS integration tests.
  apps/server/test/server/services/obs/connections_supervisor_test.exs
  apps/server/test/server/services/obs/supervisor_test.exs
Due: mix-format, mix-credo, mix-compile

Add CI enforcement to prevent skipping critical protocol tests.
  .github/workflows/ci-server.yml
  scripts/README.md
  scripts/check-critical-tests.sh
Due: prettier

Update CLAUDE.md.
  CLAUDE.md
Due: prettier

Fix ETS race condition in correlation ID pool.
  apps/server/lib/server/correlation_id_pool.ex
  apps/server/test/server/correlation_id_pool_concurrency_test.exs
Due: mix-format, mix-credo, mix-compile

Address ETS pool code review issues.
  apps/server/lib/server/correlation_id_pool.ex
  apps/server/test/server/correlation_id_pool_concurrency_test.exs
Due: mix-format, mix-credo, mix-compile

Implement health check standardization and configuration unification.
  apps/nurvus/lib/nurvus/application.ex
  apps/nurvus/lib/nurvus/health_checker.ex
  apps/nurvus/lib/nurvus/process_monitor.ex
  apps/nurvus/lib/nurvus/process_runner.ex
  apps/nurvus/lib/nurvus/router.ex
  apps/nurvus/mix.exs
Due: mix-format, mix-credo, mix-compile

Add supervisor patterns and enhanced telemetry monitoring.
  apps/dashboard/src/components/connection-telemetry.tsx
  apps/dashboard/src/routes/index.tsx
  apps/phononmaser/src/audio_processor.py
  apps/phononmaser/src/main.py
  apps/phononmaser/src/websocket_client.py
  apps/phononmaser/tests/test_websocket_client.py
  apps/seed/src/main.py
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
  packages/shared-python/src/shared/__init__.py
  packages/shared-python/src/shared/circuit_breaker.py
  packages/shared-python/src/shared/supervisor.py
  packages/shared-python/src/shared/websockets/client.py
  packages/shared-python/tests/__init__.py
  packages/shared-python/tests/test_resilient_websocket_client.py
Due: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

Fix pytest-asyncio issues in phononmaser tests.
  apps/phononmaser/tests/test_websocket_client.py
Due: none

Fix hanging phononmaser tests by using dependency injection.
  apps/phononmaser/tests/test_websocket_client.py
  apps/phononmaser/tests/test_websocket_client_factory.py
Due: none

Fix GSAP memory leak in layer orchestrator.
  apps/overlays/src/hooks/use-layer-orchestrator.tsx
  apps/overlays/test/setup.ts
Due: eslint, prettier, typescript-check

Implement overlay debug interface.
  apps/overlays/src/debug/debug-interface.ts
  apps/overlays/src/hooks/use-omnibar.tsx
  apps/overlays/src/main.tsx
  apps/overlays/src/providers/debug-provider.tsx
  apps/overlays/src/routes/omnibar.tsx
Due: eslint, prettier, typescript-check

Correct API token retrieval in make_api_request function.
  apps/server/lib/server/services/twitch/api_client.ex
Due: mix-format, mix-credo, mix-compile

Refactor get_request_tracker to use supervisor for process retrieval.
  apps/server/lib/server/services/obs/connection.ex
Due: mix-format, mix-credo, mix-compile

Retrieve client ID from application environment in send_http_request function.
  apps/server/lib/server/services/twitch/api_client.ex
Due: mix-format, mix-credo, mix-compile

Refactor send_obs_request to delegate request handling to RequestTracker and enhance logging for unknown responses.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/request_tracker.ex
Due: mix-format, mix-credo, mix-compile

Fix RequestTracker function signature mismatch.
  apps/server/lib/server/services/obs/request_tracker.ex
Due: mix-format, mix-credo, mix-compile

Update WebSocket URLs and logger configuration in dashboard and overlays.
  apps/dashboard/src/components/connection-telemetry.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/components/takeover-panel.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/overlays/src/providers/socket-provider.tsx
  apps/overlays/src/routes/takeover.tsx
Due: eslint, prettier, typescript-check

Fix RequestTracker from parameter handling to prevent timeouts.
  apps/server/lib/server/services/obs/request_tracker.ex
Due: mix-format, mix-credo, mix-compile

Disable StatsCollector to stabilize production OBS service.
  apps/server/lib/server/services/obs/supervisor.ex
Due: mix-format, mix-credo, mix-compile

Add comprehensive logging to debug OBS RequestTracker timeout issue.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/request_tracker.ex
  apps/server/lib/server/services/obs/supervisor.ex
Due: mix-format, mix-credo, mix-compile

Add comprehensive OBS WebSocket debugging for timeout investigation.
  apps/server/lib/server/services/obs/request_tracker.ex
  apps/server/lib/server/services/obs/stats_collector.ex
  apps/server/lib/server/websocket_connection.ex
Due: mix-format, mix-credo, mix-compile

Show actual OBS WebSocket message content in logs.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/request_tracker.ex
Due: mix-format, mix-credo, mix-compile
