Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format-server, mix-format-nurvus, mix-credo

eslint:
  name: eslint
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
  language: system
  pass_filenames: false

mix-format-server:
  name: mix format (server)
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
  language: system
  pass_filenames: true

mix-format-nurvus:
  name: mix format (nurvus)
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/nurvus && mix format; else echo "Skipping mix format - Elixir not available"; fi'
  language: system
  pass_filenames: true

mix-credo:
  name: mix credo
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo; else echo "Skipping mix credo - Elixir not available"; fi'
  language: system
  pass_filenames: false

This is my rage face.
  CLAUDE.md
Due: prettier

Add a temporary ROADMAP.md.
  ROADMAP.md
Due: prettier

Bump dependencies.
  apps/dashboard/package.json
  apps/overlays/package.json
  bun.lock
  package.json
  packages/logger/package.json
  packages/shared/package.json
Due: prettier

Begone white boxes.
  apps/dashboard/src/components/activity/index.tsx
  apps/dashboard/src/routes/index.tsx
Due: eslint, prettier, typescript-check

Add 8008.
  apps/overlays/vite.config.ts
  apps/server/lib/server_web/endpoint.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix EventSub random reconnections during streaming.
  apps/server/lib/server/services/twitch.ex
Due: mix-format-server, mix-credo

Implement database aggregation queries and fix EventSub reconnection issues.
  apps/server/lib/server/content_aggregator.ex
  apps/server/lib/server/stream_producer.ex
Due: mix-format-server, mix-credo

Refactor StreamProducer to use 4-layer architecture with concise variable names.
  apps/overlays/src/components/layer-renderer.tsx
  apps/overlays/src/hooks/use-omnibar.tsx
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix infinite loop in StreamProducer event handler.
  apps/overlays/src/hooks/use-stream-channel.tsx
  apps/server/lib/server/stream_producer.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix more fucked up naming.
  apps/server/lib/server_web/channels/stream_channel.ex
Due: mix-format-server, mix-credo

Fix KeyError crashes by aligning StreamProducer field names.
  apps/server/lib/server/content_fallbacks.ex
  apps/server/lib/server/events.ex
  apps/server/lib/server/events/validation.ex
  apps/server/lib/server/stream_producer/types.ex
  apps/server/test/server/stream_integration_test.exs
  apps/server/test/server/stream_producer_test.exs
  apps/server/test/server_web/channels/stream_channel_test.exs
Due: mix-format-server, mix-credo

Fix field name mismatches causing StreamChannel KeyError crashes.
  apps/server/lib/server_web/channels/stream_channel.ex
Due: mix-format-server, mix-credo

Unwrap because redundancy.
  apps/server/lib/server/stream_producer.ex
Due: mix-format-server, mix-credo

Refactor content formatting.
  apps/server/lib/server_web/channels/stream_channel.ex
Due: mix-format-server, mix-credo

Preserve the original event's type.
  apps/server/lib/server/stream_producer.ex
Due: mix-format-server, mix-credo

Remove server 'current' field, implement 4-layer content distribution.
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server_web/channels/stream_channel.ex
Due: mix-format-server, mix-credo

Completely remove all old "current" references.
  apps/server/lib/server/events.ex
  apps/server/lib/server/events/validation.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/lib/server/stream_producer/types.ex
  apps/server/lib/server_web/channels/stream_channel.ex
Due: mix-format-server, mix-credo

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  typescript-check: any of: \.(ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  mix-format-server: any of: ^apps/server/.*\.(ex|exs)$
  mix-format-nurvus: any of: ^apps/nurvus/.*\.(ex|exs)$
  mix-credo: any of: ^apps/server/.*\.(ex|exs)$
