Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format-server, mix-format-nurvus, mix-credo

eslint:
  name: eslint
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
  language: system
  pass_filenames: false

mix-format-server:
  name: mix format (server)
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
  language: system
  pass_filenames: true

mix-format-nurvus:
  name: mix format (nurvus)
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/nurvus && mix format; else echo "Skipping mix format - Elixir not available"; fi'
  language: system
  pass_filenames: true

mix-credo:
  name: mix credo
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo; else echo "Skipping mix credo - Elixir not available"; fi'
  language: system
  pass_filenames: false

Enhanced OBS debugging to show frame content and Gun send results.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/websocket_connection.ex
Due: mix-format-server, mix-credo

Test immediate OBS request after auth to isolate timing issues.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/stats_collector.ex
  apps/server/lib/server/websocket_connection.ex
Due: mix-format-server, mix-credo

Fix OBS request tracking flow and remove debug logging.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/event_handler.ex
  apps/server/lib/server/services/obs/request_tracker.ex
  apps/server/lib/server/services/obs/scene_manager.ex
  apps/server/lib/server/services/obs/stats_collector.ex
  apps/server/lib/server/websocket_connection.ex
Due: mix-format-server, mix-credo

Fix OBS supervisor strategy to prevent cascade failures.
  apps/server/lib/server/services/obs/request_tracker.ex
  apps/server/lib/server/services/obs/supervisor.ex
Due: mix-format-server, mix-credo

Remove debug logging from OBS connection.
  apps/server/lib/server/services/obs/connection.ex
Due: mix-format-server, mix-credo

Fix OBS message handler return values and add response logging.
  apps/server/lib/server/services/obs/connection.ex
Due: mix-format-server, mix-credo

Fix timeout cascade by using cast instead of call between Connection and RequestTracker.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/request_tracker.ex
Due: mix-format-server, mix-credo

Remove OBS response debug logging.
  apps/server/lib/server/services/obs/connection.ex
Due: mix-format-server, mix-credo

Reduce production log volume by ~80% through strategic log level adjustments.
  apps/server/config/prod.exs
  apps/server/lib/server/services/obs.ex
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/connections_supervisor.ex
  apps/server/lib/server/services/obs/request_tracker.ex
  apps/server/lib/server/services/obs/stats_collector.ex
  apps/server/lib/server/services/twitch/eventsub_manager.ex
Due: mix-format-server, mix-credo

Fix EventsChannel crash on Twitch connection events.
  apps/server/lib/server_web/channels/events_channel.ex
Due: mix-format-server, mix-credo

Add comprehensive event handler coverage to prevent channel crashes.
  apps/server/lib/server_web/channels/dashboard_channel.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/channels/overlay_channel.ex
  apps/server/lib/server_web/channels/stream_channel.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/test/server_web/channels/catch_all_handler_test.exs
  apps/server/test/server_web/channels/channel_catch_all_test.exs
Due: mix-format-server, mix-credo

Implement Twitch EventSub reconnection to new URLs.
  apps/server/lib/server/services/twitch/connection_manager.ex
  apps/server/test/server/services/twitch/connection_manager_test.exs
Due: mix-format-server, mix-credo

Fix GSAP memory leak and OAuth configuration issues.
  apps/overlays/src/hooks/use-layer-orchestrator.tsx
  apps/server/config/runtime.exs
  apps/server/lib/server_web/channels/telemetry_channel.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix TelemetryChannel to properly fetch Python service metrics.
  apps/server/lib/server_web/channels/telemetry_channel.ex
Due: mix-format-server, mix-credo

Consolidate circuit breaker implementations.
  apps/server/lib/server/retry_strategy.ex
  apps/server/test/server/retry_strategy_test.exs
Due: mix-format-server, mix-credo

Implement OBS batch request handling.
  apps/server/lib/server/services/obs.ex
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/request_tracker.ex
  apps/server/test/server/services/obs/batch_request_test.exs
Due: mix-format-server, mix-credo

Replace hardcoded WebSocket stats with real telemetry tracking.
  apps/server/lib/server/application.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/websocket_stats_tracker.ex
Due: mix-format-server, mix-credo

Add SessionManager subscription removal notification.
  apps/server/lib/server/services/twitch/message_router.ex
  apps/server/lib/server/services/twitch/session_manager.ex
Due: mix-format-server, mix-credo

Enable WebSocket connection tests with proper mocking.
  apps/server/lib/server/services/twitch/connection_manager.ex
  apps/server/test/server/services/twitch/connection_manager_simple_test.exs
  apps/server/test/support/mock_websocket_connection.ex
Due: mix-format-server, mix-credo

Add telemetry drawer UI with real-time metrics visualization.
  apps/dashboard/src-tauri/src/lib.rs
  apps/dashboard/src-tauri/tauri.conf.json
  apps/dashboard/src/components/connection-telemetry.tsx
  apps/dashboard/src/components/status-bar.tsx
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/dashboard/src/components/telemetry-indicator.tsx
  apps/dashboard/src/contexts/telemetry-context.tsx
  apps/dashboard/src/hooks/use-telemetry-drawer.tsx
  apps/dashboard/src/routeTree.gen.ts
  apps/dashboard/src/routes/__root.tsx
  apps/dashboard/src/routes/index.tsx
  apps/dashboard/src/routes/telemetry.tsx
  apps/server/lib/server_web/channels/telemetry_channel.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Update CLAUDE.md.
  CLAUDE.md
Due: prettier

Fix WebSocket telemetry by emitting missing Phoenix events.
  apps/server/lib/server_web/channel_base.ex
  apps/server/lib/server_web/channels/dashboard_channel.ex
  apps/server/lib/server_web/channels/events_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
Due: mix-format-server, mix-credo

Fix Phoenix.Logger crashes by using custom telemetry namespace.
  apps/server/lib/server_web/channel_base.ex
  apps/server/lib/server_web/channels/user_socket.ex
  apps/server/lib/server_web/websocket_stats_tracker.ex
Due: mix-format-server, mix-credo

Add telemetry debugging and error handling to WebSocketStatsTracker.
  apps/server/lib/server_web/websocket_stats_tracker.ex
Due: mix-format-server, mix-credo

Fix critical telemetry issues found by code review.
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/websocket_stats_tracker.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix telemetry data flow to dashboard.
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/websocket_stats_tracker.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Clean up telemetry channel subscription and fix duplicate listeners.
  apps/dashboard/src/components/telemetry-drawer.tsx
Due: eslint, prettier, typescript-check

Fix telemetry system routing and improve metrics accuracy.
  apps/dashboard/src/components/connection-telemetry.tsx
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/server/lib/server_web/channel_base.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
  apps/server/lib/server_web/websocket_stats_tracker.ex
  packages/shared/src/websocket/socket.ts
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Finish implementing centralized telemetry service.
  apps/dashboard/src-tauri/src/lib.rs
  apps/dashboard/src/components/connection-telemetry.tsx
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/dashboard/src/routes/__root.tsx
  apps/dashboard/src/routes/telemetry.tsx
  apps/dashboard/src/services/telemetry-service.tsx
  apps/dashboard/src/types/telemetry.ts
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/websocket_stats_tracker.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Implement Phoenix.Tracker for WebSocket lifecycle tracking.
  apps/dashboard/src/components/telemetry-drawer.tsx
  apps/dashboard/src/services/telemetry-service.tsx
  apps/server/lib/server/application.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/lib/server_web/channels/user_socket.ex
  apps/server/lib/server_web/websocket_stats_tracker.ex
  apps/server/lib/server_web/websocket_tracker.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Add service status display to telemetry UI showing individual service health.
  apps/dashboard/src/routes/telemetry.tsx
  apps/dashboard/src/services/telemetry-service.tsx
  apps/server/lib/server_web/channels/telemetry_channel.ex
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Standardize service status reporting across all services.
  apps/dashboard/src/routes/telemetry.tsx
  apps/dashboard/src/services/telemetry-service.tsx
  apps/server/config/dev.exs
  apps/server/lib/server/http_service_adapter.ex
  apps/server/lib/server/service_status.ex
  apps/server/lib/server/services/obs.ex
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/telemetry.ex
  apps/server/lib/server_web/channels/telemetry_channel.ex
  apps/server/test/server_web/channels/telemetry_channel_simple_test.exs
  apps/server/test/server_web/channels/telemetry_channel_test.exs
  apps/server/test/server_web/websocket_stats_tracker_test.exs
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/logger.ts
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Fix cache access and OBS disconnection handling.
  apps/server/lib/server/cache.ex
  apps/server/lib/server/services/obs/stats_collector.ex
Due: mix-format-server, mix-credo

Refactor connection status; add WebSocket message inspector.
  apps/dashboard/src/components/connection-status.tsx
  apps/dashboard/src/components/debug-drawer.tsx
  apps/dashboard/src/components/websocket-inspector.tsx
  apps/dashboard/src/routes/index.tsx
  apps/server/lib/server_web/channels/telemetry_channel.ex
  packages/shared/src/websocket/index.ts
  packages/shared/src/websocket/message-inspector.ts
  packages/shared/src/websocket/socket.ts
Due: eslint, prettier, typescript-check, mix-format-server, mix-credo

Enable window state persistence for Tauri dashboard.
  apps/dashboard/src-tauri/capabilities/default.json
  apps/dashboard/src-tauri/tauri.conf.json
Due: prettier

Host Overlays on Saya.
  apps/overlays/Dockerfile
  docker-compose.yml
Due: prettier

Refactor connection telemetry component.
  apps/dashboard/src/components/connection-telemetry.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/components/websocket-inspector.tsx
  apps/dashboard/src/routes/telemetry.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/services/telemetry-service.tsx
  apps/overlays/Dockerfile
Due: eslint, prettier, typescript-check

Chnage Dockerfile to skip production build step for overlays (for now).
  apps/overlays/Dockerfile
Due: none

Expose port 8008 for the server service; remove duplicate port mapping from overlays service.
  docker-compose.yml
Due: prettier

Fix overlays Dockerfile.
  apps/overlays/Dockerfile
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  typescript-check: any of: \.(ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  mix-format-server: any of: ^apps/server/.*\.(ex|exs)$
  mix-format-nurvus: any of: ^apps/nurvus/.*\.(ex|exs)$
  mix-credo: any of: ^apps/server/.*\.(ex|exs)$
