Repository bryanveloso/landale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, mix-format, mix-credo, mix-compile

eslint:
  name: eslint
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run lint:fix; else echo "Skipping ESLint - Bun not available"; fi'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run format; else echo "Skipping Prettier - Bun not available"; fi'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: sh -c 'if command -v bun >/dev/null 2>&1; then bun run typecheck; else echo "Skipping TypeScript check - Bun not available"; fi'
  language: system
  pass_filenames: false

mix-format:
  name: mix format
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix format; else echo "Skipping mix format - Elixir not available"; fi'
  language: system
  pass_filenames: false

mix-credo:
  name: mix credo
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix credo --strict; else echo "Skipping mix credo - Elixir not available"; fi'
  language: system
  pass_filenames: false

mix-compile:
  name: mix compile
  entry: sh -c 'if command -v mix >/dev/null 2>&1; then cd apps/server && mix compile --warnings-as-errors; else echo "Skipping mix compile - Elixir not available"; fi'
  language: system
  pass_filenames: false

Structure the IronmonTCP logs properly.
  apps/server/lib/server/services/ironmon_tcp.ex
Due: mix-format, mix-credo, mix-compile

Add Ironmon Connect 2.0 compatability.
  apps/server/lib/server/services/ironmon_tcp.ex
Due: mix-format, mix-credo, mix-compile

Enhance logging in IronmonTCP.
  apps/server/lib/server/services/ironmon_tcp.ex
Due: mix-format, mix-credo, mix-compile

Add fallback content for IronMON stats and progression.
  apps/server/lib/server/content_fallbacks.ex
  apps/server/lib/server/ironmon.ex
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/stream_producer.ex
  apps/server/test/server/ironmon_context_test.exs
Due: mix-format, mix-credo, mix-compile

Centralize OAuth token management and complete Server.Service migration.
  apps/server/lib/server/application.ex
  apps/server/lib/server/oauth_service.ex
  apps/server/lib/server/service.ex
  apps/server/lib/server/services/oauth_service_behaviour.ex
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/eventsub_manager.ex
  apps/server/test/server/services/twitch/eventsub_manager_test.exs
  apps/server/test/server/services/twitch_test.exs
Due: mix-format, mix-credo, mix-compile

Fix test isolation and race conditions after OAuth centralization.
  apps/server/test/server/services/obs/connection_test.exs
  apps/server/test/server/services/twitch/connection_manager_simple_test.exs
  apps/server/test/server/services/twitch_test.exs
Due: mix-format, mix-credo, mix-compile

Refactor token handling in Twitch service.
  apps/server/lib/server/services/twitch.ex
Due: mix-format, mix-credo, mix-compile

Try and fix the crashing services.
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/eventsub_manager.ex
  apps/server/test/server/services/twitch/eventsub_manager_test.exs
  apps/server/test/server/services/twitch_test.exs
Due: mix-format, mix-credo, mix-compile

Add client ID and keepalive management to Twitch service.
  apps/server/lib/server/services/twitch.ex
  apps/server/lib/server/services/twitch/eventsub_manager.ex
Due: mix-format, mix-credo, mix-compile

Add refactoring protocol and scratchpad to documentation.
  .gitignore
  CLAUDE.md
Due: prettier

Enhance documentation with Issue Analysis Framework and clarify refactoring protocol rationale.
  CLAUDE.md
Due: prettier

Add configuration validation and improve client ID retrieval in Twitch service.
  apps/server/lib/server/application.ex
  apps/server/lib/server/config.ex
  apps/server/lib/server/services/twitch/eventsub_manager.ex
Due: mix-format, mix-credo, mix-compile

Refactor OBS WebSocket password retrieval to be optional and update documentation accordingly.
  apps/server/lib/server/config.ex
Due: mix-format, mix-credo, mix-compile

Remove database URL validation from required configuration checks.
  apps/server/lib/server/config.ex
Due: mix-format, mix-credo, mix-compile

Fix secret key base retrieval by updating endpoint module reference.
  apps/server/lib/server/config.ex
Due: mix-format, mix-credo, mix-compile

Fix phononmaser critical issues and improve code quality.
  apps/phononmaser/src/audio_processor.py
Due: none

Enhance StreamCorrelator with buffer management and overflow tracking.
  apps/seed/IMPROVEMENTS.md
  apps/seed/src/config.py
  apps/seed/src/correlator.py
  apps/seed/src/health.py
  apps/seed/src/lms_client.py
  apps/seed/src/logger.py
  apps/seed/src/main.py
  apps/seed/src/websocket_client.py
  packages/shared-python/src/shared/__init__.py
  packages/shared-python/src/shared/circuit_breaker.py
Due: prettier

Simplify Nurvus to single-node architecture.
  apps/nurvus/config/runtime.exs
  apps/nurvus/lib/nurvus/application.ex
  apps/nurvus/lib/nurvus/cli.ex
  apps/nurvus/lib/nurvus/process_manager.ex
  apps/nurvus/lib/nurvus/process_registry.ex
  apps/nurvus/mix.exs
  apps/nurvus/mix.lock
  apps/nurvus/rel/commands/nurvus_cli
Due: mix-format, mix-credo, mix-compile

Finish a hanging refactor.
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server/services/obs/connection_refactored.ex
  apps/server/lib/server/services/obs/request_tracker.ex
  apps/server/lib/server/services/obs/request_tracker_refactored.ex
  apps/server/test/server/services/obs/connection_refactored_test.exs
  apps/server/test/server/services/obs/connection_test.exs
  apps/server/test/server/services/obs/request_tracker_test.exs
Due: mix-format, mix-credo, mix-compile

Refactor TypeScript configuration files.
  apps/dashboard/tsconfig.app.json
  apps/dashboard/tsconfig.node.json
  apps/overlays/tsconfig.app.json
  apps/overlays/tsconfig.node.json
  bun.lock
  packages/config-typescript/base.json
  packages/config-typescript/node.json
  packages/config-typescript/package-config.json
  packages/config-typescript/package.json
  packages/config-typescript/react.json
  packages/logger/tsconfig.json
  packages/shared/tsconfig.json
  scripts/tsconfig.json
Due: prettier

Bump dependencies.
  apps/dashboard/package.json
  apps/overlays/package.json
  apps/phononmaser/package.json
  apps/seed/package.json
  bun.lock
  package.json
  packages/shared/package.json
Due: prettier

Update CI configurations and enhance type checking.
  .github/workflows/ci-dashboard.yml
  .github/workflows/ci-nurvus.yml
  apps/dashboard/src-tauri/tauri.conf.json
  apps/overlays/package.json
  apps/phononmaser/package.json
  apps/seed/package.json
  apps/server/.credo.exs
  apps/server/lib/server/config.ex
  apps/server/lib/server/oauth_service.ex
Due: prettier, mix-format, mix-credo, mix-compile

Exclude Python proejcts from the TS CI workflows.
  .github/workflows/ci-typescript.yml
Due: prettier

Ruff run.
  apps/seed/src/config.py
  apps/seed/src/correlator.py
  apps/seed/src/lms_client.py
Due: none

Use Bun for the Tauri build.
  .github/workflows/ci-dashboard.yml
Due: prettier

Fix performance issues and implement stub functions.
  apps/dashboard/src/services/stream-service.tsx
  apps/seed/src/correlator.py
  apps/seed/src/transcription_client.py
Due: eslint, prettier, typescript-check

Add comprehensive tests for SEED service and fix critical bugs.
  apps/seed/src/correlator.py
  apps/seed/src/transcription_client.py
  apps/seed/tests/conftest.py
  apps/seed/tests/test_correlator.py
  apps/seed/tests/test_transcription_client.py
Due: none

Fix CI configuration issues.
  .github/workflows/ci-typescript.yml
  apps/dashboard/src-tauri/tauri.conf.json
  apps/seed/tests/conftest.py
  apps/seed/tests/test_correlator.py
  apps/seed/tests/test_transcription_client.py
Due: prettier

Fix the Tauri build? Maybe?
  apps/dashboard/src-tauri/tauri.conf.json
Due: prettier

Fix TypeScript compilation errors and remove unnecessary queue functions.
  apps/dashboard/src/components/activity-log-panel.tsx
  apps/dashboard/src/components/connection-status.tsx
  apps/dashboard/src/components/debug-drawer.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/components/stream-queue.tsx
  apps/dashboard/src/components/system-status.tsx
  apps/dashboard/src/components/takeover-panel.tsx
  apps/dashboard/src/components/ui/button.tsx
  apps/dashboard/src/hooks/use-activity-log.tsx
  apps/dashboard/src/hooks/use-stream-commands.tsx
  apps/dashboard/src/hooks/use-stream-queue.tsx
  apps/dashboard/src/services/error-handler.ts
  apps/dashboard/src/services/form-validation.ts
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/types/stream.ts
  apps/dashboard/tsconfig.app.json
  apps/dashboard/vite.config.ts
  apps/seed/src/correlator.py
Due: eslint, prettier, typescript-check

Fix errant logging practices and any casts.
  apps/dashboard/src/components/debug-drawer.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/services/stream-service.tsx
  apps/dashboard/src/types/stream.ts
Due: eslint, prettier, typescript-check

Implement dashboard stream management functionality.
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/services/stream-service.tsx
Due: eslint, prettier, typescript-check

Refactor Game enum to a const object.
  packages/shared/src/ironmon.ts
Due: eslint, prettier, typescript-check

Migrate phononmaser from HTTP to WebSocket for transcription delivery.
  apps/phononmaser/src/main.py
  apps/phononmaser/src/websocket_client.py
  apps/seed/src/websocket_client.py
  packages/shared-python/src/shared/websockets/__init__.py
  packages/shared-python/src/shared/websockets/client.py
Due: none

Add validation module and WebSocket submission handling for transcriptions.
  apps/server/lib/server/transcription/validation.ex
  apps/server/lib/server_web/channels/transcription_channel.ex
  apps/server/test/server/transcription/validation_test.exs
  apps/server/test/server_web/channels/transcription_channel_submit_test.exs
Due: mix-format, mix-credo, mix-compile

Update phononmaser to use submit_transcription event for WebSocket submission.
  apps/phononmaser/src/websocket_client.py
Due: none

Fix dashboard Phoenix channel timeouts and type safety.
  apps/dashboard/src/components/debug-drawer.tsx
  apps/dashboard/src/components/stream-information.tsx
  apps/dashboard/src/services/stream-service.tsx
Due: eslint, prettier, typescript-check

Remove HTTP transport from phononmaser service.
  apps/phononmaser/src/main.py
  apps/phononmaser/src/server_client.py
  apps/server/lib/server_web/controllers/transcription_controller.ex
  apps/server/lib/server_web/router.ex
Due: mix-format, mix-credo, mix-compile

Add WebSocket transcription metrics and centralize configuration.
  CLAUDE.md
  apps/phononmaser/.env.example
  apps/phononmaser/src/main.py
  apps/seed/.env.example
  apps/server/lib/server/telemetry.ex
  apps/server/lib/server_web/channels/transcription_channel.ex
  apps/server/lib/server_web/telemetry.ex
Due: prettier, mix-format, mix-credo, mix-compile

Add tests for WebSocket client functionality and improve error handling in OBS connection.
  apps/phononmaser/tests/test_websocket_client.py
  apps/seed/src/correlator.py
  apps/seed/src/websocket_client.py
  apps/server/lib/server/services/obs/connection.ex
  apps/server/lib/server_web/channels/transcription_channel.ex
Due: mix-format, mix-credo, mix-compile

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  typescript-check: any of: \.(ts|tsx)$, but not: ^(node_modules|dist|build|coverage|\.turbo)/.*$
  mix-format: any of: \.(ex|exs)$
  mix-credo: any of: \.(ex|exs)$
  mix-compile: any of: \.(ex|exs)$
